[2014-09-11 11:29] szepeviktor opened #1 "cody quality"
Please use this tool http://themecheck.org/
It is open source at https://github.com/themecheck/themecheck

[2014-09-11 11:31] szepeviktor opened #2 "release ZIPs"
Please include the README and the LICENCE in the parent theme's folder to allow exraction into `wp-content/themes`.

[2014-09-11 12:00] #2 closed, assigned to nobody

[2014-09-11 13:02] aijazsiddique opened #3 "how to display option on frontend"
How to get option value on front end.
also can you tell me what is id of option in below code

[code]

[2014-09-12 01:55] ghost opened #4 "enqueuing fw stylesheet"
i'm working on rtl-support version of the framework and i have finished customizing the new fw-rtl.css.
I found that in framework/core/components/backend.php the scripts and styles are registered but i can't find where it was enqueued
I hope to understand my english :)

[2014-09-12 07:48] #3 closed, assigned to nobody

[2014-09-12 16:26] #1 closed, assigned to nobody

[2014-09-12 17:05] #4 closed, assigned to nobody

[2014-09-15 15:25] UnitedThemes opened #5 "Reading Settings > "Blog pages show at most" broken"
Hi,

at first of all, thanks for providing this framework to the crowd. So far we really enjoy it. However I think we have discovered a small glitch with the mentioned WordPress native option mentioned inside the title.

We were able to narrow it down to the helper.php inside the framework-customization/extensions/portfolio/helpers.php on line 83++

<code>
if( !$query->is_main_query() ) {

[2014-09-15 18:13] yuliyang opened #6 "Image Preview does not work with image sizes below "thumbnail""
Image Preview does not work with image sizes below "thumbnail" which is 150px \* 150px by wordpress default. Therefore, favicon field in demo does not work.

It will get this error whenever I upload an image below thumbnail size.
images-only.js line 47

[code]

[code]

It should pull original image if there is no thumbnail size.

[2014-09-16 08:13] floriweb opened #7 "Installation fails on localhost with MAMP"
Hi, I tried to install the unyson framework on my localhost with MAMP 2.1.3 (PHP 5.4.10). But without success. I tried both ways you described in the docs. I always get just a white screen. When I tried to install only the framework, the white screen (dashboard and frontend) appears at the moment of including

in the functions.php.
When I tried to activate the default theme in the dashboard, there

[2014-09-16 09:18] devlord opened #10 "Build-In Option Type Date Picker minDate and maxDate don't work"
When specify min-date and max-date for option type date-picker won't work, after studying the source code, I found the JS plugin option does not matched with the definition of PHP.

I changed the following code to make it work
/framework/includes/option-types/date-picker/class-fw-option-type-wp-date-picker.php

line 56 and 57, change 'minDate' and 'maxDate' to 'startDate' and 'endDate' respectivel

[2014-09-16 11:00] #7 closed, assigned to nobody

[2014-09-16 12:57] UnitedThemes opened #11 "Summary of some minor bugs"
Hi,

since we found a few bugs, we don't want to open a new issue for each. So we sum it up here:

1.) Mega Menu Icons are broken, seems to be related to the other broken icons we reported. So please have an additional look into this issue as well.

2.) Autocomplete for Appearance -> Widgets -> Sidebars -> For Specific Pages seems to be broken.

3.) Addable Options do not have a handle text. It's

[2014-09-16 20:31] codesman opened #15 "Conflict with Maintenance plugin"
I installed the Maintenance Plugin http://plugins.fruitfulcode.com/maintenance/ as I have on a couple other sites and when I go to the plugin options page (only on this page) I get this error.

Warning: Missing argument 2 for _FW_Component_Backend::_action_create_post_meta_boxes() in /var/www/vhosts/new.hawaii-aloha.com/wp-content/themes/Unyson/scratch-parent/framework/core/components/backend.php

[2014-09-16 20:47] ivandotv opened #16 "Demo of Unyson"
I've registered for the demo, however when I enter the demo I'm presented with the default theme (twenty fourteen) and all other options are standard.
If I change the theme in the demo, I'm presented with what I believe is the old framework `fusion`?

[2014-09-17 08:24] #10 closed, assigned to nobody

[2014-09-17 08:25] #6 closed, assigned to nobody

[2014-09-17 08:25] #5 closed, assigned to nobody

[2014-09-17 08:38] #15 closed, assigned to nobody

[2014-09-17 13:49] paulorsnunes opened #17 "Bugs Framework Plugin"
I thought the great news today, with version for Unyson Framework as a plugin.

I found the following errors and failures:
1 empty Themes Settings
2 Add New Slider incomplete
3 Error trying to create a slide:
Fatal error: Call to a member function get_multimedia_types () on a non-object in C:\xampp\htdocs\unyson\wp-content\plugins\unyson\framework\extensions\media\extensions\slider\class-fw-extens

[2014-09-17 14:24] #17 closed, assigned to nobody

[2014-09-18 12:38] #16 closed, assigned to nobody

[2014-09-21 14:28] jasins opened #18 "WordPress 4.0 - Add Media in Text-Block (Page Builder)"
Hi,
It seems that Add Media isn't working in the Page Builder (Text Block).
On clicking 'Insert into Page' in the thickbox, the popup disappears as expected, but the image is not added to the editor.

It was kinda working fine in WordPress 3.9.2 (actually it added relative paths to images like `href="../wp-content/uploads/2014/09/image.png"` which didnt really work well with directory installation

[2014-09-23 14:39] #18 closed, assigned to nobody

[2014-09-25 09:53] woraperth opened #20 "Blank page after theme activation"
When I activate the theme, every pages (both front-end and back-end) turns into blank theme.

So I turned on 'WP_DEBUG' and it shows this error:
Fatal error: Class 'FW_Cache_Not_Found_Exception' not found in /Applications/MAMP/htdocs/wp/wp-content/themes/unyson/scratch-parent/framework/helpers/class-fw-cache.php on line 70

Note that I used MAMP with PHP 5.4.4 and WordPress 4.0 downloaded from Wor

[2014-09-26 11:18] #20 closed, assigned to nobody

[2014-09-29 09:07] jasins opened #21 "Question: Roadmap for shortcodes"
Hi guys,
Its been a great experience working with Unyson!

Just wanted to know if there is a 'shortcode generator' on the dev roadmap? Something like a lot of themes provide in the TinyMCE editor.

cheers
Jasin

[2014-10-01 07:57] vguenichon opened #22 "No sidebar ?"
Hi and thank you for this great framework.
I give it a try actually and I discovered there's no main widgets area... even in the testlab site.
But there's still a container (secondary) for a sidebar (primary) in the frontend.
Well, it's a bit weird but sure you will help ;-)
Thanks in advance

[2014-10-01 15:04] #22 closed, assigned to nobody

[2014-10-01 15:42] yaffeweb opened #23 "Installation For Noobs?"
So I came across unyson and I thought, "Oh this will be cool" and everywhere I read it's like the "Documentation is great". I have yet to find a step by step on how to get this framework to work. Extract it to wp-content/themes is hardly excellent documentation nor a step by step. I have done that and I have also added the framework folder to an existing them and changed the functions.php. Still n

[2014-10-01 15:50] vguenichon opened #24 "Styling does not apply"
That's it : styling in the admin does not apply to the child theme

[2014-10-07 07:29] #21 closed, assigned to nobody

[2014-10-07 18:23] ghost opened #25 "Contributing to Unyson framework"
If i made a pull request for [Unyson framework](https://github.com/ThemeFuse/Unyson-Framework) instead of conributing to [Unyson theme](https://github.com/ThemeFuse/Unyson) , will my commits be considered or i can only contribute to  [Unyson theme](https://github.com/ThemeFuse/Unyson)?

[2014-10-07 19:08] lgabeskiria opened #26 "Framework Customization"
Hi,
Thank's for great framework, I realy love it. How can I add custom css styles for framework?

[2014-10-08 07:59] #25 closed, assigned to nobody

[2014-10-08 10:35] #26 closed, assigned to nobody

[2014-10-08 12:55] georgestephanis opened #27 "Don't assume WP_DEBUG is always defined."
I see a couple occurrences that look like:

[code]

`WP_DEBUG` is the wrong constant to check for.  There are some legacy sites whose wp-config file doesn't include a `WP_DEBUG` constant, so on a legit install, it wouldn't be there.

I'd suggest switching to checking for `ABSPATH` instead.

`WP_DEBUG` was only included by default in sites installed since v3.0, and was first added via [r13185](http

[2014-10-10 10:45] qbons opened #28 "Separate between core and extension"
Hello , so i just create a WordPress theme using this awesome framework and submit it to marketplace.But i got rejected.I knew it will be rejected because one issue WARNING from Theme-Check , it was add_shortcode for create visual layout editor.But since it was part of framework and i need that functionality , i can't get rid of it.
So it will be nice if you separate all extension into independent

[2014-10-13 08:27] fabianmarz opened #29 "Show preview of block"
It would be fine if there would be a preview of the inserted block so it's better to orient in the page structure. If I'm editing the page currently there is just "Special Heading", "Text Block" so I have to check the preview page, where the correct block is.

[2014-10-14 02:38] codabrink opened #30 "Unyson does not appear in themes"
Hello,

I just installed a fresh copy of wordpress from http://wordpress.org/latest.zip, extracted the two folders (scratch-parent, scratch-child) into wp-content/themes, however, they are not appearing in Manage Themes on the WP Admin Panel. Is there something I'm missing?

[2014-10-14 03:19] lgabeskiria opened #31 "Theme Options Page"
Hi,

Is there any way to move Theme Options submenu to top level menu?

[2014-10-14 15:40] hansnolte opened #32 "Unyson with a Standard Theme"
Hello,
I wanted to connect Unyson with "twentytwelve".
So far, so good.
(Btw. the normal installation works great)

With the Visual Layout Editor I made two ½ Sections.
But the divs are among each other.
The CSS does not apply. Wrong path.

Which css file should I include?

A little Tutorial "Combine Unyson framework with a Standard, selfmade theme" (or something like that) would be very helpful.

[2014-10-14 16:41] #30 closed, assigned to nobody

[2014-10-14 20:53] ghost opened #33 "Theme options switch default value"
Hi,

i am developing a theme using unyson framework. i have theme options fields using switch field.

when i make a fresh installation with no options in database, i do have default values set in theme options file, for example true value for switch option. In wordpress theme options page, i am always getting false values for every switch option.

how to solve this ? thank you very much.

[2014-10-14 22:20] #33 closed, assigned to nobody

[2014-10-15 12:24] themesmeta opened #34 "Built-in Option Types: Typography"
Hi there,
Is there any way to add more options to Typography like line-height and letter-spacing ?
Any helps would be appreciated. Thanks so much !!

[2014-10-16 07:09] #29 closed, assigned to nobody

[2014-10-16 12:09] #27 closed, assigned to nobody

[2014-10-17 13:47] #24 closed, assigned to nobody

[2014-10-17 17:17] #34 closed, assigned to nobody

[2014-10-22 16:52] rawcreative opened #35 "HHVM Compatibility"
Just wanted to give a heads up that currently Unyson is not compatible as-is with HHVM. The register_tick_function that is used in conjunction with FW_Cache does not exist in HHVM and throws a fatal error.

The error can obviously be remedied by commenting out that block of code at the bottom of class-fw-cache.php but I'm unsure of the implications of this since I have yet to go through the Cache

[2014-10-24 07:36] danyj opened #37 "WP compatibility"
I browsed the files and see that manifest says it requires WP 4.0
https://github.com/ThemeFuse/Unyson/blob/78e99ef4a31bd17ab6b189234ec848493cda1820/scratch-parent/framework/manifest.php

 TF requires us to support min 2 backwards version of WP.
 Does Unyson work on 3.7  or 3.8?

[2014-10-24 12:55] themesmeta opened #38 "Extension: Builder"
Hi there,
When I create a custom page with Visual Layout Editor, the render view in front-end will be wrapped by a DOM selector with class name <pre>fw-layout-builder-content</pre>. The question is: can I replace this one by my own, or simply add more class names into it ?
Any helps would be appreciated. Thanks in advanced !

[2014-10-25 03:37] webangon opened #40 "Getting saved metabox values."
Thank you for this awesome framework.However I am unable to get the meta values.How can I get the meta value of this?

[code]

[2014-10-25 07:35] themesmeta opened #41 "Built-in Option Type: Multi-Picker (Select)"
Hi there,
I have a select box with 10 options ("option-1" will link with 3 textbox, rest of 9 options link with the same 2 textbox and 1 textarea. You know the problem is I have to define all of 10 options that let me use so many lines of code, and what's happened if I have a select box with more than 10 options ? Is there any solution to make this Option Type more flexible ?

[2014-10-27 06:22] themesmeta opened #42 "Built-in Option Types: Color Picker"
Hello again,
It would be nice if you guys can add an alpha parameter to Color Picker so that we can use it for rgba() function.
Have a nice day ! Thanks.

[2014-10-27 07:06] #37 closed, assigned to sergiubagrin

[2014-10-27 17:45] MichaelRise opened #43 "Visual Layout Builder"
Hey,

Thank you for this awesome framework.

How to add Visual Layout Builder to custom post type ?
How to add support for "paragraph" to wp-editor ? (In shortcodes)

Thanks
Michael

[2014-10-27 18:09] themesmeta opened #44 "Built-in Option Types: Icon"
Hi there,
Sorry for bother you again.
Please add class 'active' to <code> &lt;i class="fa fa-icon ... ">&lt;/i> </code> to highlight it when loads this Option from the last saved.
Thanks.

[2014-10-27 19:18] #44 closed, assigned to nobody

[2014-10-27 23:26] ghost opened #45 "Post Content vs Post Meta with Wordpress Importer Tool"
hi,

i have one question regarding post content vs post meta.

when i look up the database fields, in post content i see this type of data :
[text_block text="PGgzPkJ1dHRvbnM8L2gzPgo="][column type="MS0z" first_in_row="dHJ1ZQ=="][text_block ......

and in post meta i see :
a:3:{i:0;s:0:"";s:14:"layout-builder";a:3:{s:4:"json";s:6498:"[{"type":"simple","subtype":"text_block","optionValues":{"text":

[2014-10-28 20:59] #45 closed, assigned to nobody

[2014-10-30 06:42] shrimp2t opened #46 "Option Type: Multi-Select working incorrect."
I found a bug when i working with Multi-Select type:
framework/includes/option-types/multi-select/class-fw-option-type-multi-select.php

I have blog categories blow:

Beauty
Life
Lookbook
Sex & Love
Style
Technology
Uncategorized
Video
- if you try search with  "bea" it working ok.
- if you try search with "lif" or "life" or other category name above it show nothing.

Your code ( from line 109 ):

[2014-10-31 10:12] #35 closed, assigned to nobody

[2014-10-31 12:19] #32 closed, assigned to sergiubagrin

[2014-10-31 12:44] #41 closed, assigned to nobody

[2014-10-31 15:55] maiakhoa opened #47 "Option type : multi-picker can not work when I use select with opt-group as a picker"
Hi team,

There is an issue related to multi-picker type, it's not working with the picker is select type with opt-group.

[2014-10-31 20:31] #47 closed, assigned to nobody

[2014-10-31 20:37] #11 closed, assigned to nobody

[2014-10-31 20:38] #40 closed, assigned to nobody

[2014-10-31 20:39] #31 closed, assigned to nobody

[2014-10-31 20:41] #43 closed, assigned to nobody

[2014-11-01 19:33] webangon opened #48 "Display class sidebar left or right or full based on sidebar selection"
Hi again
The sidebar selection is awesome.I have a new idea if I could add css class to say`<div id="primary" class="content-area">` an extra class "left" that is`<div id="primary" class="content-area left">` based on sidebar selection.

Thanks

[2014-11-01 20:41] maiakhoa opened #49 "New support for short-code table"
Hi again,

Could you support button row for short-code table (Pricing) ?
I think it's most important for table pricing.

Thanks.

[2014-11-01 21:34] pudeco opened #50 "Sidebar when Front page displays is set to static page"
hi,

i have issue related to sidebars.

my front page settings are like this: a page for front page, and another static page for posts page.

after this, i cannot assign sidebar to blog posts page.

i tried to solve it like this :

[code]

i am not sure if this is the right way.

now i have second issue, i do have woo commerce installed, and have shop page.  from sidebars, i selects products from

[2014-11-02 09:17] blackmekemeke opened #51 "Query Post Using Post Option Value Parameter"
I have custom post type named 'download' in my theme. I create checkbox option to set this post type as featured download, so when the checkbox checked the download post  become featured download. I want to display latest featured download using this post option parameter. This is my wp query but it doesn't work.

<pre>
$args=array(
        'post_type' => 'download',
        'posts_per_page'=> 10,

[2014-11-02 18:07] rawcreative opened #52 "JS Conflict w/ WP SEO plugin"
If a user has the WP SEO plugin installed on their site the plugin's version of Qtip (currently version 1.0.0) overrides the frameworks version since it's loaded into the footer. While this does not cause any js errors it does mess with the framework's tooltips on edit pages, as well as breaks the layout builder's templates (they will not insert or save). Since this is such a widely used plugin it

[2014-11-02 21:32] MichaelRise opened #53 "Theme Settings - Options"
Hey,

Thanks for this great framework.
I have one problem.

My settings.php code:

[code]

Get options:

[code]

I do not know why but I have nothing.
So please help and sorry for my english.

[2014-11-03 12:29] #53 closed, assigned to nobody

[2014-11-04 08:03] AminulBD opened #54 "Background image picket not working in builder"
Hi,

I'm trying to add background image picker in the layout builder. Its doesn't working good.

Check this image.
![image-picker](https://cloud.githubusercontent.com/assets/5006546/4896361/ab7c8a2e-63f8-11e4-9b19-5c0b87c59203.png)

Here is my code:

[code]

Can you guys help to get working this?

Thanks for the nice framework.

[2014-11-04 13:24] themesmeta opened #55 "Built-in Option Types: Icon"
Hi there,
Sorry for bother you guys again.
Is there any way to pick multiple icons instead of one icon at a time ? Or I have to create a custom Option Type to do this ?
Thanks in advanced.

[2014-11-04 14:10] #54 closed, assigned to nobody

[2014-11-04 18:46] AminulBD opened #56 "multi-picker data doesn't return automatically in builder"
Hi,

I created custom section for Layout Elements tab. But the layout doesn't return data automatically. It's showing  error when on var_dump.

[code]

But once I save the section then save the page then it's working fine and return data perfectly.

[code]

Here is my codes: https://github.com/AminulBD/section-header

Can you please fix it?

[2014-11-04 18:49] webangon opened #57 "Get rid of base64 encode and decode"
Hi again!Is there any way to get rid of base 64 encode and decode? This looks weird when I switch theme ,atleast I can read the shortcode content.

[2014-11-05 07:07] MichaelRise opened #58 "Option "Upload" - Image thumb"
Hey,

If I use the "upload" to upload a logo is a logo / picture is not re-generated to thumbnails
example: 150x150px
In the options "background-image" and "multi-upload" working properly.

PS. I upload logo in .png and 105x44px

Thanks

[2014-11-05 09:37] AminulBD opened #59 "Error when create slider from the builder"
Hi,

I added framework only in my [_s](http://underscores.me/) theme, Then i've created 3 empty folder (1. framework-customizations 2. extensions 3.theme) It's working good. But when i'm going create slider from builder then it's show options and fields less page.
![screenshot1](https://cloud.githubusercontent.com/assets/5006546/4915427/10be323a-64cf-11e4-96eb-f368c3d518d3.PNG)

But when i pressed

[2014-11-05 15:25] #59 closed, assigned to nobody

[2014-11-05 16:51] #48 closed, assigned to sergiubagrin

[2014-11-05 17:16] #55 closed, assigned to nobody

[2014-11-05 17:33] pudeco opened #60 "wpml-config.xml admin texts"
hi,

has anybody managed to translate options in theme settings ?

i am using it like this but with no success.

< admin-texts>
		< key name="fw_options">
			< key name="footer_copyright" />
		</ key>
    </ admin-texts>

[2014-11-05 18:08] webangon opened #61 "Display multiselect post values"
Hi again .I was digging into the framework .I was unable to display  the  corresponding  posts.

[code]

To display the posts I have tried in view.php

[code]

But it returns array I guess as I have this warning `WARNING: STRPOS() EXPECTS PARAMETER 1 TO BE STRING, ARRAY GIVEN IN C:\WAMP\WWW\EEE\WP-INCLUDES\SHORTCODES.PHP ON LINE 196`

How this works I mean does it returns the id's of post?

Edit:

[2014-11-05 19:41] ghost opened #62 "problem in showing thumbnail box of registered CPT in admin area"
Hi
i am registering a CPT in the `post.php` file that existis in `framework-customization` folder using this piece of code

[code]

please consider that i add `thumbnail` in the `supports` array
the problem is the featured image box isn't shown
![somename](https://cloud.githubusercontent.com/assets/2072807/4924462/9364fe04-6523-11e4-98d8-e29993d770aa.gif)

[2014-11-05 22:19] ghost opened #63 "ThemeCheck Errors"
Hi,

i was checking my theme by using themecheck plugin. And got this error :

REQUIRED: get_settings() found in the file framework/extensions/portfolio/class-fw-extension-portfolio.php. Deprecated since version 2.1. Use get_option() instead.
Line 419: public function get_settings() {

i think your function which is used to get portfolio settings is interfering with wordpress deprecated function.

[2014-11-06 08:50] #63 closed, assigned to nobody

[2014-11-06 08:53] #61 closed, assigned to nobody

[2014-11-06 13:27] #62 closed, assigned to nobody

[2014-11-06 15:12] #51 closed, assigned to rockalife

[2014-11-07 09:18] #58 closed, assigned to rockalife

[2014-11-08 18:34] webangon opened #64 "Hook/filter for icon select"
Let's say I am going to use social media icon set so I want only social media icon to be present in icon drop down menu.Thanks in advance.

[2014-11-10 22:59] webdevid opened #66 "[ help ] - How to add meta box field in custome post type or page with specific custom template-page"
Hi i need help, i was explore demo unyson, but still confuse How to add meta box field in custome post type or page with specific custom template-page.  can you give me clue or something to do ,to add metabox in post_type page or custom post type.

thanks all.

[2014-11-10 23:03] #66 closed, assigned to nobody

[2014-11-11 19:25] manuelbua opened #67 "ThemeCheck/ThemeForestCheck failures"
Hi guys!
I would like your opinion on the ThemeCheck/ThemeForestCheck matter: i really like Unyson, but the fact that it doesn't pass ThemeCheck/ThemeForestCheck tests put me down.

I can see how badly ThemeCheck reacts to the use of plugin-specific APIs (`register_taxonomy`, `register_post_type`) and depreacted APIs (`get_theme` deprecated since 3.4, `get_settings` deprecated since **2.1**).

The

[2014-11-12 12:21] #67 closed, assigned to nobody

[2014-11-14 10:06] #64 closed, assigned to vbarbarosh

[2014-11-16 05:00] #56 closed, assigned to rockalife

[2014-11-16 08:35] MoBadawy opened #68 "Ready for themeForest"
I didn't see any one using this great framework in themeForest .
Is it ready for themeForest  or i will get reject? because I see some errors in Theme-Check.
Thank you

[2014-11-17 11:58] themesmeta opened #69 "Built-in Option Type: Addable Box"
Hi there,
It would be nice if preview text will be displayed like the way "Addable Popup" working with <code>template</code> parameter. Can you guys add this feature in the future release ?
Thanks in advanced !

[2014-11-17 16:37] #69 closed, assigned to nobody

[2014-11-18 06:00] shrimp2t opened #70 "Need add support page builder for any custom post types"

[2014-11-18 08:13] #70 closed, assigned to nobody

[2014-11-18 11:39] yawalkar opened #71 "Backup restore failed."
Hey,

Thanks for the such a great framework and a real time saver!!!

My issue -

I got this error when I tried to restore the backup -

<b>Replacing wordpress dir by version from backup failed</b>

Please help to get this resolved.

Thanks in advanced.

[2014-11-19 08:37] webangon opened #72 "After saving theme settings section the current tab is not shown"
Hi again sorry to bother !
After saving the section the current tab is not shown rather the first tab is shown now .I know this can be done using cookies (as in SMOF).

[2014-11-19 12:36] maiakhoa opened #73 "How do I know new row in layout builder ?"
Hi,

Could you guide me how to know which shortcode is started new row in layout builder (like first column of column shortcode) ? I need add more div between rows.

Thanks

[2014-11-19 15:34] blackmekemeke opened #74 "How to remove 'Project Gallery' meta box on project edit screen?"
I want to replace 'Project Gallery' meta box with my own custom meta box. Thanks

[2014-11-20 08:30] webangon opened #75 "using twice or as many as times in theme or in plugins"
Hi
How can I create instances of this framework? Let I have this framework in theme now I will again use this in plugin.How can I do this?Again let I have to use this in other plugins as well. How the settings work?I mean does it create new settings with different names?

[2014-11-20 09:34] #75 closed, assigned to nobody

[2014-11-20 09:55] webangon opened #76 "Defining own directory"
Hi
After exploring it seems that the directory is defined by this function fw_get_framework_directory() and I am in a mess where this constant is defined.Can you please point it?

[2014-11-20 17:51] rawcreative opened #77 "Builder modals hiding TinyMCE modals, tooltips & dropdowns"
Due to the dynamic Z-index that's set on the builder's option modals, any modals generated by TinyMCE as well as any drop-down menus or tooltips on the TinyMCE button bar are all hidden from view.

This can be reproduced by setting the 'teeny' param to false on any option using the 'wp-editor' option type.

[2014-11-20 19:50] #76 closed, assigned to nobody

[2014-11-24 14:09] ankitaraikundalia opened #78 "Feedback Extension Issues"
Three issues in the feedback extension which I came across:
1. I don't see the Gravatar in the comments
2. Reply link is missing
3. Same user cannot comment multiple times. Previous comment is replaced by the new comment of the same user.

[2014-11-25 02:36] gabyferman opened #79 "Add new Walker_Nav_Menu"
Hi,

I've started to play around with this framework and it looks good, only thing is I'm having trouble adding a new class to extend Walker_Nav_Menu, so I can modify the custom menu widget from wordpress. I've done it in other templates but I'm not sure where the code should go for it to work with this framework. Here is how I've been doing it until now:

custom_widgets.php
[code]

custom_walker.

[2014-11-27 11:12] #74 closed, assigned to nobody

[2014-11-27 11:17] #52 closed, assigned to nobody

[2014-11-27 11:19] #46 closed, assigned to GheorgheP

[2014-11-27 14:25] ankitaraikundalia opened #80 "Dynamic Sidebars for Custom Post Type"
Hi,
I need to add different sidebars for a custom post type archive and single page. I don't see the custom post type listed in the drop-down for selecting groups in Dynamic sidebar extension. Is there any hook available for adding archive and single page of the Custom post type in the drop-down?

[2014-11-27 15:54] #72 closed, assigned to nobody

[2014-11-28 16:52] C-Holzer opened #81 "Pre-defined Options not overridden by customizations"
I can change the font for Headers and Body but when viewing the front end, none of the changes take.

[2014-11-29 06:53] AminulBD opened #82 "What about version 2.0 here?"
Thank you for awesome plugin on wordpress.org. Have any plan for scratch theme here with unyson plugin?

Thank you.

[2014-11-29 10:59] sergiubagrin opened #83 "Install Extensions"
Install Extensions install alert: http://screencast.com/t/HJAuuMqPWn

[2014-12-01 09:15] AminulBD opened #84 "How can i create new extension for builder in my theme using unyson plugin?"
Hi,

I'm using unyson plugin in my project. But I'm not able add new shortcode in builder. Can you tell me how can i add new extension when I'm using Unyson plugin as framework?

Thanks!

[2014-12-01 09:34] #84 closed, assigned to rockalife

[2014-12-01 11:10] AminulBD opened #85 "Problem to create new section element"
Hi,

I need to create another section element, So i created a copy of "section" shortcode. Its working fine when I was rename this folder in single word. But when I use hyphen (-) in folder name it show error.

Working naming: sectiontwo
Not Working naming: section-two

Attached screenshot of error.

![screenshot-thinkcentre aminul net 8060 2014-12-01 17-09-30](https://cloud.githubusercontent.com/

[2014-12-01 13:24] #85 closed, assigned to rockalife

[2014-12-01 13:30] sergiubagrin opened #86 "Unyson Transifex Link Broken"
Unyson Transifex Link Broken - http://screencast.com/t/u4fKeW2slb

[2014-12-02 04:05] blackmekemeke opened #87 "Remove 'Featured Content' option on Customizer?"
How to remove 'Featured Content' option on WordPress Customizer?

thanks

[2014-12-02 16:15] erralb opened #88 "Override framework-customizations within child theme"
Hi, we've been playing quite a lot with the framework, and one problem we're facing is the overriding system.

Basically we created a [Zurb Foundation parent theme](https://github.com/Negative-Network/FoundationPress/tree/unyson) that includes Unyson.
The theme also includes some framework-customizations of the scratch parent.

When building a child theme, one must often change some css/js and als

[2014-12-02 19:34] #86 closed, assigned to nobody

[2014-12-03 08:42] #88 closed, assigned to nobody

[2014-12-04 06:15] sergiubagrin opened #89 "From Trello"
Thanks for your awesome work !
I've just installed Unyson plugin, and I have a problem with my custom Option Type.

Fatal error: Class 'FW_Option_Type' not found in /.../themes/unyson/inc/includes/option-types/typography-custom/class-fw-option-type-typography-custom.php on line 8

Line 8: class FW_Option_Type_Typography_Custom extends FW_Option_Type

[2014-12-04 08:17] #38 closed, assigned to rockalife

[2014-12-04 08:26] #73 closed, assigned to rockalife

[2014-12-04 08:32] #57 closed, assigned to rockalife

[2014-12-04 10:45] #28 closed, assigned to nobody

[2014-12-04 14:47] ghost opened #90 "Custom Extensions"
Hi,

thanks for the awesome work.

i have some questions regarding custom extensions. For my theme, i am using custom post type Slider. So before plugin was out, i used to extend FW_Extension,  placed all my code under framework-customizations/extensions, and everything was working fine.

After plugin activation, it is still there, but not working anymore.  Do we need to to workaround similar to s

[2014-12-04 15:55] #90 closed, assigned to nobody

[2014-12-04 17:47] #89 closed, assigned to valeriuzdrobau

[2014-12-04 21:22] ziuzea87 opened #91 "Unyson Multisite"
Hello,

I want to use Unyson with my Wordpress multisite installation. The problem ist that I can't download Unyson extensions. And the network admin can't access the unyson options. Is there a way to manually download the extensions?

[2014-12-04 23:40] braginteractive opened #92 "Disable Extension"
Is there a way to disable the "Available Extensions" when the plugin is install.

For example:
The theme the plugin is install for a theme that already has a Portfolio custom post type, so the Portfolio Unyson extension is not needed in this case. Is there a way to disable it from showing in the "Available Extensions" list or say something like "non-compatible"?

Just don't want the theme user thi

[2014-12-05 06:31] #23 closed, assigned to sergiubagrin

[2014-12-05 08:34] sergiubagrin opened #93 "Scratch Theme Link"
It is needed to add a description + link to Scratch theme in Unyson Plugin repository and Wordpress Repository: http://screencast.com/t/W6MCVTtHlI

[2014-12-05 08:45] #87 closed, assigned to nobody

[2014-12-05 10:12] ankitaraikundalia opened #94 "Extension Updates"
Hi,
When there are updates in any extension, it just shows 'New extensions updates available.' like in the below image:

![wordpress updates learnpress wordpress 2014-12-05 15-38-59](https://cloud.githubusercontent.com/assets/9928664/5314073/f0802108-7c94-11e4-83b9-8e80d471a68a.png)

Which extensions have an update should be shown along with the details of change log.

[2014-12-05 11:53] moldcraft opened #95 "Extensions Features"
- [ ] Add pre-install popup http://screencast.com/t/Pg9skEH5ZFQ
- [ ] After extension install redirect to (if exist)
  1. Install Instructions
  2. Settings page
  3. Extensions List

[2014-12-05 12:50] #82 closed, assigned to sergiubagrin

[2014-12-05 12:54] #68 closed, assigned to nobody

[2014-12-05 13:44] AminulBD opened #96 "$atts Not working in function"
Hi,

I'm try to create a function in views.php file.

Here is example:

[code]

But I'm getting "Notice: Undefined variable"

Can please help me to solve this?

[2014-12-05 15:11] #96 closed, assigned to nobody

[2014-12-05 16:38] #92 closed, assigned to nobody

[2014-12-05 22:27] braginteractive opened #97 "Page Builder: Container Padding"
It looks like the Unyson page builder is using the Bootstrap grid for everything.

The problem I see is that every time you add an element from the page builder it adds a new container which adds unnecessary padding.

For example when you add a Text Block element, it add the following markup:

[code]

What I think it should look like is:

[code]

Looking at the grid system in the Bootstrap docs (h

[2014-12-06 07:15] blackmekemeke opened #98 "How to check if this page using builder or not?"
In the previews version i'm using <code>fw_ext_layout_builder_is_builder_post($post->ID)</code> to check the page using page builder or not. But in the plugin version (2.x) i can't using this function. Is there any solution?

[2014-12-06 07:39] #94 closed, assigned to nobody

[2014-12-06 09:53] blackmekemeke opened #99 "Create Custom Section and Column Shortcodes"
How to create custom section and column shortcodes and disable built in one, thanks.

[2014-12-06 14:13] #98 closed, assigned to rockalife

[2014-12-06 21:21] ghost opened #100 "Google Web Fonts"
Hi,

how can i include some fonts to google web font json file ?

thanks

[2014-12-07 08:30] sergiubagrin opened #101 "This aproach will double the code"
Unyson said

#

Not only. Using php filesystem as additional solution is contradictory because the whole idea of WP filesystem is to prevent unauthorized access to files on shared hosting.

Link: http://themeforest.net/forums/thread/meet-unyson-the-free-drag-drop-wordpress-framework/141818?page=9&message_id=1172445#1172445

[2014-12-07 09:07] #101 closed, assigned to nobody

[2014-12-07 15:55] ghost opened #102 "Column Shortcode Bug"
Hi,

i have issues related to columns.

i have created 3 columns (1/4, 1/2, 1/4), and inside 1/2 column, put text block shortcode, and entered some test.

after looking from source code generated, i see some div errors.  output is like this . second column div is generated before first one div is closed.

&lt;div class=&quot;fw-container&quot;&gt; &lt;div class=&quot;fw-row&quot;&gt; &lt;div class

[2014-12-08 02:54] rafeall opened #103 "Cannot create temporary directory"
I used your plugin and when download extensions it alert me this "Cannot create temporary directory: /home/u***********_/public_html/**_******/wp-content/plugins/unyson/tmp"
how can fix that?

[2014-12-08 11:55] rockalife opened #104 "How to disable certain columns in the Page Builder"
Question asked by @blackmekemeke in another issue.

[2014-12-08 12:05] #99 closed, assigned to nobody

[2014-12-08 12:40] erralb opened #105 "Install/Manage extensions with composer"
Hi, this is kind of a feature request.

We use the Bedrock WP Stack, which allows us to manage plugins, themes and such, with composer.

How would you go about managing Unyson extensions with composer?

Where should the extensions be installed?

Can we just activate the extensions from the Unyson dashboard (like we do for the WP plugins) when the files/folders are already in place?

[2014-12-08 15:14] #71 closed, assigned to vbarbarosh

[2014-12-08 15:41] #104 closed, assigned to rockalife

[2014-12-08 16:00] #93 closed, assigned to nobody

[2014-12-08 17:20] blackmekemeke opened #106 "Pricing Table Shortcode"
When i insert pricing table why appear <code>code</code> above the table? I'm using the table shortcode built in unyson plugin. I attach the screenshot below.

![pricing-shortcode](https://cloud.githubusercontent.com/assets/9511351/5343458/b8d8b96c-7f38-11e4-8124-f6ff2ca10a39.png)

[2014-12-08 19:23] #106 closed, assigned to nobody

[2014-12-08 21:34] braginteractive opened #107 "Add custom extension from plugin"
Anyway to add extensions from a custom plugin?

For example:
If you create a custom shortcode for page builder that you would like to use in several different themes it would be easier to manage in a custom plugin rather than than adding it to every theme in /framework-customizations/extensions/

This would also allow people to share different custom extensions that are created.

[2014-12-09 07:40] maiakhoa opened #108 "Upgrade old version of framework to the new one"
Hi team,

Do you have any plan to upgrade the old version of framework with  new functions of plugin version ?
I developed my theme with the old one, so could you guide me how to upgrade it with new functions ?

Thanks,

[2014-12-09 10:40] imalisiddique opened #109 "How can i integrate into theme?"
How can i integrate this framework into theme. Not like plugin.

[2014-12-09 11:24] #109 closed, assigned to nobody

[2014-12-09 11:33] #108 closed, assigned to nobody

[2014-12-09 12:47] #105 closed, assigned to nobody

[2014-12-09 14:33] #100 closed, assigned to valeriuzdrobau

[2014-12-09 14:40] 2Fwebd opened #110 "Default upload value overview for options doesn't seems to work"
Hi again,

After 2 hours trying anything I can, I give up....
The default value for upload field doesn't seems to work the way you explain them here :
http://unyson-docs.themefuse.com/en/latest/options/built-in-option-types.html#upload

This an example here :
https://www.evernote.com/shard/s281/sh/240c22c1-4713-4c45-b1a3-8a82908451d6/968c81bcd677a63d5a262ac309fe245e

I tried to change many things

[2014-12-09 15:15] #78 closed, assigned to valeriuzdrobau

[2014-12-09 15:49] #107 closed, assigned to nobody

[2014-12-09 16:25] #110 closed, assigned to rockalife

[2014-12-09 16:45] Kiseki opened #111 "the_excerpt() empty when using the Visual Layout Editor"
I'm having difficulty displaying the_excerpt() on my News page which I'd like to show a summary of each blog post. I am using the visual layout editor for my blog posts and nothing is returned, however when I use the default editor the_excerpt() is displayed.

Is there another way to get a summary of the blog post to display when using the visual editor? My current code which is located in content

[2014-12-10 05:47] justiny opened #112 "Cannot create temporary directory"
Version 2.1.4
WordPress 4.1
Installed via Plugin

I'm testing out the framework on a fresh WordPress installation.  The extensions are unable to install and I keep receiving a "Cannot create temporary directory..." notice.  It's a fresh installation of WordPress using the Twenty Fourteen theme as demo.

Thanks!

![screen shot 2014-12-09 at 10 46 28 pm](https://cloud.githubusercontent.com/assets/27

[2014-12-10 08:02] #112 closed, assigned to nobody

[2014-12-10 12:43] ghost opened #113 "Notice on extension install"

[2014-12-10 14:49] scorp84 opened #114 "Github error: API limit exceeded...."
When I try to install an extension I got the error.

[2014-12-10 16:56] maiakhoa opened #115 "Load Styling setting into Theme Setting"
Anyone could help me to load Styling setting into theme setting page instead of separated page currently ?

[2014-12-10 19:11] justiny opened #116 "Must edit the view file"
Using version 2.1.6
WordPress 4.1

Little confused on how to properly setup certain elements within the plugin.  When attempting to create a column in the Visual Editor, I'm asked to edit the view file.  I tried to look in the documentation but wasn't able to find it.  I'm sure I'm missing something simple.

Thanks!
Justin

[2014-12-11 07:29] MoBadawy opened #117 "Hide "Install Instructions" when the extension Compatible with current theme"
It's good if "Install Instructions" hide by default  when the extension Compatible with current theme.

[2014-12-11 07:43] #111 closed, assigned to nobody

[2014-12-11 14:19] #103 closed, assigned to nobody

[2014-12-12 04:54] maiakhoa opened #118 "Section wrapper"
Hi team,

Currently, I saw that each row of page builder is wrapped by Section shortcode even it's not dragged into Section shortcode. So could you help me to identify whether a row is wrapped by Section or not ?

[2014-12-12 05:05] jahir07 opened #119 "how can i easily register custom post type?"
Hi,
I want to register custom post type..Is there any easiest way to add custom post type? Or should i add custom post type manually??

Thanks

[2014-12-12 07:37] #118 closed, assigned to rockalife

[2014-12-12 11:37] #114 closed, assigned to nobody

[2014-12-12 11:37] #113 closed, assigned to nobody

[2014-12-12 11:37] #91 closed, assigned to nobody

[2014-12-12 15:53] #49 closed, assigned to nobody

[2014-12-13 17:05] ghost opened #120 "FW_Flash_Messages"
Hi,

how i can add custom message to theme settings screen ? i am trying to put import button, and when finished, page refreshes and writes a message to user.

thanks.

[2014-12-15 05:28] MoBadawy opened #121 "Download "auto-install" folder from my site instead of embed in theme"
I have a big demo and I need to upload "auto-install" folder to my site to reduce the theme size and when user need to import demo it will download from my site.
Can I make it and how?

[2014-12-15 08:31] #120 closed, assigned to nobody

[2014-12-16 02:10] MoBadawy opened #122 "Some option types needed"
I think these option types needed :
1- "Add video from media" and "create/edit gallery from media" buttons like "add image" and "add multi images" buttons.
2- "Import for theme settings" and "export for theme settings " and "reset to defaults for theme settings" buttons.
3- "Choose sidebar or create" it maybe used in posts , pages and categories.
It will be great if supported :)
Thank you

[2014-12-16 10:23] MoBadawy opened #123 "Make mega menu like this"
Can I edit mega menu extension to add menu like this? :

![mega menu](http://i.imgur.com/QXXx46l.png)

[2014-12-17 01:08] #123 closed, assigned to vbarbarosh

[2014-12-18 00:12] webdevid opened #124 "how to use get_post_meta/option unyson in wp_query filter by meta_query"
Hi, unyson is really awesome, and the option metabox really great. but i cant filter post_meta with wp_query. or maybe i am missing with that. can you tell me how to use option meta_box  unyson with wp_query > filter by post_meta.

thanks

[2014-12-18 16:32] DimiBaitanciuc opened #125 "(i) positioning for some options need to be a couple of px down"
We need to have the (i) bubble positioned on the middle of options for all the one line options:

**It's ok**: http://joxi.ru/EA4bn0dcwO07mb

**It's not ok**: http://joxi.ru/5mdnNK1Uke1vA1, http://joxi.ru/8AnN51aij700AO, http://joxi.ru/p27E6pZioWE9r7, http://joxi.ru/zANBp7MiB6x5A9, http://joxi.ru/GrqBd8liQkydmz,

[2014-12-18 19:43] supertanno opened #126 "Installing extensions brings me to _/wp_admin"
I run my Wordpress blog on a domainless VPS, and every time I attempt to install an extension, I'm brought to Wordpress' FTP login system. I log in, it starts loading, and then I'm brought to a broken page - and the IP in my address bar is replaced with an underscore.

How do I fix this?

[2014-12-18 23:59] ziuzea87 opened #127 "Unyson framework and extensions auto activation"
Ive been using your Unison framework for few days now, and it seems no doubt very usefull plugin. I was just wondering, is it possible to automatically include extensions for my theme and also that they are allready activated. Im asking this, because I was thinking about to build a theme with this framework, and it would be much more easier for users if all necessery extensions were ready to use a

[2014-12-19 09:24] andronic90 opened #128 "range slider option"
I propose to add a range slider option with interval for example (10-100)

[2014-12-19 11:00] sergiubagrin opened #129 "Add video from media" and "create/edit gallery from media""
1- "Add video from media" and "create/edit gallery from media" buttons like "add image" and "add multi images" buttons.

[2014-12-19 11:00] #122 closed, assigned to sergiubagrin

[2014-12-21 05:52] jahir07 opened #130 "How to use metabox value in homepage?"
I have made upload button as metabox in >> framework-customizations\theme\options\posts{post-type}, but i can't call that value in content-audio.php. Is there any easy way to display/callback that value??

[2014-12-22 05:58] #126 closed, assigned to nobody

[2014-12-22 08:21] #102 closed, assigned to rockalife

[2014-12-22 11:30] #125 closed, assigned to nobody

[2014-12-23 06:35] #117 closed, assigned to nobody

[2014-12-23 10:41] #124 closed, assigned to nobody

[2014-12-23 13:25] ankitaraikundalia opened #131 "Select Option Type"
Hi,
Two questions related to the select option type:
1. What does 'no-validate' parameter do?
2. How to populate the choices array dynamically?

Example:
I have the following code in the settings file:

[code]

I want to populate the choices 'blue' and 'green' from the names of the css files I have in my `theme-name/styles/` folder, like at present I have `blue.css` and `green.css` in the folder.

[2014-12-24 06:15] #131 closed, assigned to nobody

[2014-12-24 11:41] #130 closed, assigned to nobody

[2014-12-24 11:41] #127 closed, assigned to nobody

[2014-12-25 17:46] #42 closed, assigned to valeriuzdrobau

[2014-12-25 17:46] #128 closed, assigned to valeriuzdrobau

[2014-12-25 18:01] c2270618 opened #132 "Fatal error on version 2.1.12"
I'm getting a fatal error since the update to 2.1.12

Warning: require(/srv/www/wp-content/plugins/unyson/framework/includes/option-types/rgba-color-picker/class-fw-option-type-rgba-color-picker.php): failed to open stream: No such file or directory in /srv/www/wp-content/plugins/unyson/framework/includes/option-types.php on line 885

Fatal error: require(): Failed opening required '/srv/www/wp-co

[2014-12-25 18:23] #132 closed, assigned to nobody

[2014-12-26 06:13] #80 closed, assigned to nobody

[2014-12-26 18:58] davidossahernandez opened #133 "Slider option is not using the default value"
I'm having a problem with the slider option type. I have the following configuration:

[code]

The `min` and `max` values work correctly. However, the default `value` does not. The slider should start at 12 but it starts at the `min` value.

[2014-12-26 19:20] #133 closed, assigned to nobody

[2014-12-26 19:31] #83 closed, assigned to nobody

[2014-12-27 04:15] AminulBD opened #135 "How i can get page builder value without $atts?"
Is there any alternative way get page builder value without $atts? Because $atts not working in function.

[2014-12-27 09:23] #135 closed, assigned to nobody

[2014-12-28 19:09] mandava opened #136 "MegaMenu extension for Unyson plugin"
Good to see "Unyson" as a standalone plugin, but I wonder what happened to the "MegaMenu" extension thats available in "Scratch Theme". Any plans on getting it to the plugin as an extension?

Update: My bad its available here https://github.com/ThemeFuse/Unyson-MegaMenu-Extension
Thank you!

[2014-12-28 19:13] #136 closed, assigned to nobody

[2014-12-30 07:58] #97 closed, assigned to rockalife

[2014-12-30 11:32] praveenrchauhan opened #137 "How can I handle updates for extensions by myself?"
I am working on  a theme being building up using Unyson framework/plugin.  Before giving the update for its extensions, I would like to test them and then allow update. If it is compatible and ready to go with my theme, then only I would like my theme users to get update. I wonder, if I could restrict the default updates via my theme.

I have following idea in my mind but not sure if it is a prope

[2014-12-30 14:11] ziuzea87 opened #138 "Unyson problem"
I get this message when updating extensions. Why?

Downloading the Sidebars extension...

Github error: API rate limit exceeded for 50.87.248.69. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)

Downloading the Update extension...

Github error: API rate limit exceeded for 50.87.248.69. (But here's the good news: Authenticat

[2014-12-30 16:34] #137 closed, assigned to nobody

[2014-12-31 04:42] mandava opened #139 "New color picker option"
How about this New Color Picker thats available in theme customizer?
https://make.wordpress.org/core/2012/11/30/new-color-picker-in-wp-3-5/

[2015-01-02 12:09] 2Fwebd commented on #138
Hello,
This problem, is more than than problematic...This solution is not reasonable for premium themes. I mean if customers pay more than 50$ for a theme and have to wait an hour for every extension, it's pretty awful, no ?
Then, I guess the best way is to include directly the extensions supported by the theme directly in the framework-customization/extensions folder, It works for all of them exc

[2015-01-02 14:16] moldcraft commented on #138
If you add extensions pre-installed in `framework-customization/extensions/` your theme will not pass theme-check and marketplace approval.

----

We can add a config parameter for the `github-update` extension to disable the cache reset when the user click the "Check Now" button. I think this may help a lot to prevent "API rate limit exceeded" error.

What do you think?

[2015-01-02 14:48] 2Fwebd commented on #138
I forgot that detail...Well, I spend sometime on the Google trying to understand what happens and :

That would be awesome ! Problem is the OAuth no ? it will becomes public ?

Then, I found this : (http://stackoverflow.com/questions/16732103/increase-github-api-limit)

As for not sharing your client_id or client_secret, spuder has the right answer there.

And (http://stackoverflow.com/questions/1

[2015-01-02 22:59] 2Fwebd opened #140 "Themecheck, register_taxonomy(), register_post_type() issue from posts.php, create plugin ?"
Hi again,

I got these issues from Theme check :

REQUIRED: The theme uses the register_post_type() function, which is plugin-territory functionality.

There is the file **inc/posts.php** for this purpose but it is not compatible with Theme check and TF. So I'm wondering if there is a way to fix this with Unyson or I have to create a custom plugin (which will be a copy/past of the posts.php file)

[2015-01-02 23:16] moldcraft commented on #140
Hi,

I (we) don't know the answer for this question.
We are curious what TF will say about that.
Please let us know if you will find the answer/solution for it.

[2015-01-02 23:29] 2Fwebd commented on #140
Ok, I'll leave like that and keep you informed about what the reviewer will say. (I do not submit before 2 weeks, but I keep you posted!).

[2015-01-03 14:27] mianmajid opened #141 "How to use shortcode(store in page content) and avoid post meta using page builder"
Hello,
thanks for providing page builder plugin, I am using using it and checked it stores all data in post meta with name "fw_options" is it possible to perform content management by shortcodes in text editor(post/page content field) instead of post meta?

Thank you for your great effort.

[2015-01-03 14:52] MoBadawy commented on #141
I think they will released ShortCodes extension in a few days
https://trello.com/c/CX8emlPS/50-shortcodes

[2015-01-03 14:55] mianmajid commented on #141
I think that is drop down shortcode list, I want page builder to convert into shortcodes like WP Bakery Visual Editor, or Avada theme Fusion Builder.

[2015-01-03 15:02] 2Fwebd commented on #141
Like that :
![edit_page_ _starry_ _wordpress](https://cloud.githubusercontent.com/assets/5446124/5602723/cd35e122-9361-11e4-8316-3f53088184ad.png)
?? For what purpose, I don't get it

[2015-01-03 15:08] mianmajid commented on #141
Perfect, I want like that, is it possible now a days? or should I should I change code for that purpose?
currently this is storing as serialized array

" _made_with_builder="true"][/text_block][/column][column width="1_3" _made_with_builder="true"][text_block text="&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius erat sit amet metus faucibus consequat. Pellentesque ha

[2015-01-03 15:14] 2Fwebd commented on #141
Well, I'm not the guy who developed this framework, maybe @moldcraft will have a more professional reply with explanations. But to get that result **just disable the extension from Unyson page in WP**. It seems that at the opposite of the Visual Composer the shortcodes generated are hidden when the extension is enabled, which is a good idea in fact! :)

[2015-01-04 12:35] 2Fwebd opened #142 "Extend menu functionalities with Mega menu extension, PHP notice"
Hello,

For the menu in my theme, I've few requirements :
* Divided in 2 menus (left and right side so 2 locations in order to have the logo in the middle)
* Mega Menu and submenu compatibility
* Ready for icons
* Use the description for subtitle in the menu

Thanks to the mega menu, I was able to do all quite easily (I make several little changes on the extension to change the location, add the d

[2015-01-04 12:51] tomik3690 opened #143 "How to get post meta ( page options values) ?"
Hi!
I have a problem - don't know how to get page options values from page metabox. Using
<code>
fw()->theme->get_post_options('page')
</code> I don't get options values:
[code]
Using
<code>
get_post_meta( get_the_ID() )
</code> I get something like json ( I'm not sure because the validator says it's not validate and I'm not good at JS ) but I can't decode it using <code>json_decode()</code>
[code

[2015-01-04 13:08] tomik3690 commented on #143
OK. It works now - <code>fw_get_db_post_option($post_id, $option_id, $default_value = null)</code>

[2015-01-04 13:08] #143 closed

[2015-01-04 14:38] moldcraft commented on #139
What's the difference between existing color picker?

[2015-01-04 17:39] mandava commented on #139
I think the color picker available in customizer is different from Iris? Here is a screenshot of the color picker I'm talking about.
http://buildwpyourself.com/wp-content/uploads/2014/03/quota-colors.png

.wpColorPicker() and .iris()

[2015-01-04 18:30] moldcraft commented on #139
We thought it will be more convenient if the color picker will be an input with the color code *(you can see the code and edit it right away)* instead of a little square that you have to click to see the color code.

----

Do you consider we have to change the `color-picker` option type to this

![staticshot_04-01-2015_20-24-22](https://cloud.githubusercontent.com/assets/1475489/5606988/155dcd04-9

[2015-01-04 18:58] vbarbarosh commented on #142
Hi 2Fwebd.

Concerning PHP Notice. It is strange since @ should suppress it. Try to replace the line with the following:

[code]

What about your requirements? Do you have some questions about them?

[2015-01-04 19:21] 2Fwebd commented on #142
Hello,
Thank you very much !! It works perfectly !!!

[2015-01-04 19:21] #142 closed

[2015-01-04 19:23] moldcraft commented on #142
So it seems that on some servers the suppress `@` doesn't work. Maybe it's better to avoid it.

[2015-01-04 19:39] vbarbarosh commented on #142
I have tried to find an explanation for this behavior. It seems that standard error handler is replaced. And this replacement is not well written. Instead of taking into account error_reporting variable it ignores it.

[Error Control Operators](http://php.net/manual/en/language.operators.errorcontrol.php):

[2015-01-04 21:54] 2Fwebd commented on #138
Any news or I am the only one to get this issue every time I try to download an extension ? :P Let me know if I can help you.

[2015-01-04 23:21] moldcraft commented on #138
not yet

Do you mean literally **every time**, or you press often the [Check Again](http://static.md/4467f83abc7db67bc4e85cb16316c94a.png) button?

[2015-01-05 05:47] AminulBD opened #144 "Feature Request:: Can you add "Add element" button in every section or column in page builder?"

[2015-01-05 07:28] moldcraft commented on #144
More details please:
* which element?
* why do you need such feature?
* maybe a sketch how it should look?

[2015-01-05 07:42] AminulBD commented on #144
1. All element have element by default or custom created.
2. Because, Now its bad user experience when page builder content has huge section or elements.

![screenshot from 2015-01-05 13 38 02](https://cloud.githubusercontent.com/assets/5006546/5610353/3fac3b46-94e0-11e4-86d3-472b30a14da1.png)

[2015-01-05 07:54] moldcraft commented on #144
Thanks.

We will come back with a response in a few days.

[2015-01-05 10:31] moldcraft commented on #144
What should happen when you click the |Add Element" button (maybe a [sketch](http://ninjamock.com/)/screenshot) ?

[2015-01-05 19:28] 2Fwebd commented on #138
Well no, I just did a test and sorry you are right when I get the error **if I wait one hour I can install a few ones but (5 actually)** then the error comes back. I never pressed the Check Again button.

In fact, there is no way to make an authentification for Unyson ? **That would be perfect, 6000 per hour should be enough, no ?**

[2015-01-06 05:06] AminulBD commented on #144
Check this examples.
![look](https://cloud.githubusercontent.com/assets/5006546/5624659/1751193c-9594-11e4-82ea-d3937515b868.png)

[2015-01-06 08:25] rockalife commented on #141
Hi @mianmajid,

When saving or updating the page from the dashboard the page builder extension generates shortcode notation (like the one that @2Fwebd showed) in the `post_content` column of the `wp_posts` database table.

You can check it out yourself, just create a post with the page builder, save it and look up it's `post_content` by the post id in the database.

Can you please share your use c

[2015-01-06 11:05] DimiBaitanciuc opened #145 "Icon deselect"
On click you deselect an icon from this option: http://joxi.ru/p27E6pZio7kgr7. I think it will be better from the usability stand point if the hover will actually disappear when you click to deselect the icon. Another option will be to make a different color the selected icon state only: #64bd1f

How it works now is it stay the same and you don't actually know if the icon is deselected or not when

[2015-01-06 11:41] mianmajid commented on #141
![unyson-pagebuilder](https://cloud.githubusercontent.com/assets/10381371/5627971/3e533a96-95c2-11e4-813b-4a5c7c9c63f0.jpg)

Hello, thanks for replying.
I am sharing screenshot of wp_posts and wp_postmeta table.
You are right "rockalife" it is saving content into wp_posts, but the the saving json encoded content into wp_postmeta I think that is Database burden, what you comment please?

[2015-01-06 14:08] moldcraft commented on #138
If we will hardcode our token in the framework core and make API requests with it, it will limit all Unyson users to 5000 pe hour. So this is not a good solution.

[2015-01-06 14:31] 2Fwebd commented on #138
Sorry I thought it was 5000 requests per user....In that case yes it is not the good solution.

Yet, I don't understand how I pay away these requests. There is maybe a problem there.

I just did another test :
* Went to one of my dev site,
* Unyson page in Wordpress
* Clicked on "Download" on the feedback extension that I don't use.
* Got still the same message :

I wasn't on this website since mo

[2015-01-06 14:49] moldcraft commented on #138
We thought it will not be a big problem but I seems critical.

I think we will do an intermediary site that makes requests to github using our OAuth token and cache them, and all Unyson users will make unlimited requests to that site.

[code]

[2015-01-06 17:06] 2Fwebd commented on #138
That should be very good ! Thank you @moldcraft  !!

[2015-01-07 05:54] AminulBD opened #146 "WP-EDITOR option not working perfecly in addable pop-up window"
Hi,
I've getting problem when I'm using wp-editor in addable pop-up. The editor come smotthly but not working visual editor button.

Here is example:
![pop-up](https://cloud.githubusercontent.com/assets/5006546/5641470/9ccb6c8c-9663-11e4-92ff-cef8fd65faab.png)

Console Log:
![consol](https://cloud.githubusercontent.com/assets/5006546/5641489/dcb4872a-9663-11e4-87fd-281a02ba9245.png)

[2015-01-07 08:57] moldcraft commented on #146
Add [`'reinit' => true`](http://unyson-docs.themefuse.com/en/latest/options/built-in-option-types.html#wp-editor) parameter ot `wp-editor` option

[code]

[2015-01-07 08:57] #146 closed

[2015-01-07 09:28] moldcraft commented on #144
It's complicate. We have to think how to do it.

[2015-01-07 10:49] DimiBaitanciuc opened #147 "Slider Option Redesign"
I'd like us to redesign the slider option http://joxi.ru/52aeNWXH4Q3Y20 to better fit the overall WordPress design. I'll make a proposal and get back to you.

[2015-01-07 11:02] 2Fwebd commented on #138
Well, I get this sometime :
![starry___just_another_wordpress_site](https://cloud.githubusercontent.com/assets/5446124/5644545/ee17e984-9664-11e4-8487-f3a83ff2d146.png)
On the frontend ... Have you already seen this before ?

[2015-01-07 11:43] moldcraft commented on #138
The framework uses `FW_Flash_Messages::add()` to display notice messages, they are displayed both in backend and frontend.

But don't worry, the update extension is activated only if current user is administrator and has permission to update themes/plugins, so simple users will not see this message. These messages are stored in `$_SESSION` so only you will see them.

[2015-01-07 12:05] sergiubagrin opened #148 "Add Image Option"
Hi ,
we have option type named "add image" when I click on it , it open media and I select image to insert it, what I need is another option type to insert video only from media library.

Thank you

[2015-01-07 12:32] DimiBaitanciuc commented on #147
Here we go:

![range-sliders](https://cloud.githubusercontent.com/assets/10077249/5645552/adb609ce-9679-11e4-91b5-027c2852e303.jpg)

![range-slider-option](https://cloud.githubusercontent.com/assets/10077249/5645553/adb76454-9679-11e4-94b8-998276f0992e.png)

The PSD file can be found here: https://dl.dropboxusercontent.com/u/10589764/Dimi/range-slider.psd
Please note the inner shadows, colors and

[2015-01-07 12:43] DimiBaitanciuc opened #149 "Custom Section Options"
Let's make the Custom Section options appear on click - http://joxi.ru/p27E6pZiod7Pr7. Now you have to click the Edit icon from the right hand side in order to make them appear and considering that we've built some important options in there I'd like to have them more accessible.

All the shortcodes work that way, if you click anywhere on the shortcode the pop up with options appears, that should

[2015-01-08 10:21] alkeshgupta opened #150 "how i can use slider shortcode directly in PHP file"
Hello,

Like example .. i created a slider named "HOMEPAGE" i want to use it like this in php file

<?  echo do_shortcode('[slider name='HOMEPAGE']');?>

is that possible if yes what is the correct code ?

[2015-01-08 13:03] danyj opened #151 "Is Unyson passing TF requirements?"
I see many people asked this before but there are no clear answers. Is either wait or I dont know jet or there is a bug but we dont know. So the question is,  is Unyson passing TF requirements?

[2015-01-08 13:22] 2Fwebd commented on #151
Hello,

I don't know if there is any approved theme built with Unyson on Themeforest yet (nothing found when I search). But I personally submit mine, next week so I'll keep you informed.

However, it passes Themeforest themecheck validation very well. So I don't think there will be a problem.

Nevertheless for now it is quite not usable for buyers cause of the Github API rate limit, but they're wo

[2015-01-08 13:46] llemurya commented on #150
@alkeshgupta you can do this by call a slider render method, please read about that in our [documentation](http://unyson-docs.themefuse.com/en/latest/extension/slider/index.html#frontend-render)

[2015-01-08 13:46] #150 closed

[2015-01-08 14:36] danyj opened #152 "Can we have some valid instructions?"
The frameworks looks fine and usable but the docs are incorrect.
I had to go to a German website in order to find out how to integrate it in my theme
http://www.drweb.de/magazin/unyson-framework-teil-2-entwickeln-sie-ihr-wordpress-theme-50086/
According to your docs all we need is framework folder and link to bootstrap inside functions.php where in fact looks like we need much more than that.

Can

[2015-01-08 14:38] danyj commented on #151
OK Unyson  scratch theme is not passing by default ,
http://www.uploady.com/#!/download/EzTkMyCGjIX/jrjfE1Shz8KoYZm8
I see it is minor issues but still.

[2015-01-08 15:26] moldcraft commented on #152
That article is outdated (it's for version 1). We do not include the framework in the theme anymore, because the theme will not pass theme-check. That's why we changed the framework to be as plugin https://wordpress.org/plugins/unyson/ . You simply install the plugin and that's all.

[2015-01-08 15:27] danyj commented on #152
OK bud I see that and is nice but how do I get my own options inside the theme? That is the crucial part

[2015-01-08 15:28] danyj commented on #152
If you don mind just give me an example on twentyfifteen

[2015-01-08 15:39] moldcraft commented on #152
[These](http://unyson-docs.themefuse.com/en/latest/convention/directory-structure.html#content) are all the directories and files that you can create in your theme and the framework will load them automatically.

So for a quick demo, create the file `{your-theme}/framework-customizations/theme/options/settings.php` with the following contents:

[code]

Refresh your admin page, and under the Appear

[2015-01-08 15:42] danyj commented on #152
There you go! You should have this on that page.

[2015-01-08 15:42] 2Fwebd commented on #151
Well, you can fix them in a minute ! It is definitely not the problem ;) Those ones are less than minor..

[2015-01-08 15:49] danyj commented on #151
Never mind those. Here comes a real question pulled from  reading between lines here #152 if we extend or try to extend Unyson  options within theme, theme wont pass.

Can we extend unyson from the theme and pass TF ?

For you to understand why I am concerned so much is because I have over 100 themes ready for wp conversion and I am looking for a reliable options framework. Unyson looks more than

[2015-01-08 15:52] danyj commented on #138
do you guys need dedicated server for this? It is obvious that many devs are being pulled here since we all need reliable framework but this API thing can kill us all. If you need dedicated server let me know.

[2015-01-08 16:19] 2Fwebd commented on #151
Not at all :)
Here it is an example : https://www.evernote.com/shard/s281/sh/617738dd-14d8-4d37-abd3-dc43e845877e/80f86c0964d7640f7028e907072e81fe
You can create anything you like such as Post Options/Theme Panel/ Extended menu/Custom Plugins/Post types....
The only problem, is that some of these functionalities such as the custom post types have to be wrapped in a plugin. Btw I'm not developper,

[2015-01-08 16:24] moldcraft commented on #138
No, thank you. Everything is ready. I'am releasing a new version now *(2.1.13)*

[2015-01-08 16:26] danyj opened #153 "CSS files inside body ?"
Is there any particular reason why you are adding css files inside the body tag.
I do understand js but CSS should not be there

[2015-01-08 16:42] moldcraft commented on #153
WordPress also adds css in body.

This happens because options html is rendered late when the page `<head>` was already generated, and those options include their js and css. We don't know a better solution, because we can't know inside `<head>` which options will be displayed in the page later.

Including css in body has a downside: Some page elements are displayed without design then after the c

[2015-01-08 16:53] danyj commented on #153
I know what the downsides are thus I am asking the question. No matter what WP does we both know that css files should be inside the head. And those are CSS files which are not dynamic, so no matter what the head contains they should be there and not inside the body.

And I was talking about frontend not admin which is bigger concern than options side.

[2015-01-08 16:57] moldcraft commented on #153
Where did you find css files included by unyson in body on frontend?

[2015-01-08 17:01] moldcraft commented on #138
Please update to v2.1.13 and let us know if the `Github API rate limit exceeded` is still there

[2015-01-08 17:02] danyj commented on #153
Any shortcode use prints them out , even on your demo
my demo on twentyfifteen by using your instructions from #152
![capture](https://cloud.githubusercontent.com/assets/2340172/5666485/26cb8ed8-9760-11e4-907e-0e66c3f1f5c9.JPG)

your demo
![capturexx](https://cloud.githubusercontent.com/assets/2340172/5666526/6e3ad44a-9760-11e4-8723-38b3663dc7d1.JPG)

[2015-01-08 18:23] danyj opened #154 "Extend options admin"
Is there a way to extend the options admin without messing with the plugin itself?
Trough framework-customizations somehow ?
I would like to add my own style to the options admin area and have the tabs on the side rather than on top plus add some additional styling.

[2015-01-08 18:38] moldcraft commented on #154
Options can't be extended or removed. You can only [create new option types](http://unyson-docs.themefuse.com/en/latest/options/create-option-type.html#content).
The only way to customize admin styles is just to include your css from the theme (from anywhere you want, unyson doesn't have a special place for theme css) and overwrite the existing styles.

We tried to make everything look like the de

[2015-01-08 19:08] danyj commented on #154
Im trying to match the look to  our joomla framework and this way make it closer to our members since they already got used to it
http://yjsimplegrid.com/documentation/basics/yjsg-template-manager.html

[2015-01-08 19:16] 2Fwebd commented on #138
Hello,
I updated my 2 dev websites and it worked for 6 extensions. With the website without the update I got the message that we know : Github error Api .... **And on my dev website with your latest release I got this :**
![unyson_ _starry_ _wordpress](https://cloud.githubusercontent.com/assets/5446124/5668865/1b481870-9773-11e4-918f-cef9f282a425.png)
 Any idea ?

[2015-01-08 19:50] moldcraft commented on #138
Ops...

I replaced the requests to be done through our custom API cache but didn't notice that the zip url is also a request to the api.

http://github-api-cache.unyson.io/repos/ThemeFuse/Unyson-Social-Extension/releases

Download link of the latest version is

https://**api.github.com**/repos/ThemeFuse/Unyson-Social-Extension/zipball/v1.0.1

I though it's a direct download link, like on [this pag

[2015-01-08 20:18] 2Fwebd commented on #138
Hello @moldcraft  !
I think, I understand !! No problem, thank you very much for your AWESOME work !!! Keep me informed and if you need any help to test let me know.

[2015-01-08 20:35] moldcraft commented on #138
v2.1.14 is live. Please update and check again if it works.

[2015-01-08 21:26] tomik3690 opened #155 "Mega menu not working properly"
I was using older Unyson version which was included in my theme via bootstrap.php and mega menu worked fine. I decided to use plugin version ( 2.1.14 ) and mega menu is not working properly. I should get

[code]
but I get
[code]
instead. I tried to edit <code>display_element()</code> method in <code>class-fw-theme-menu-walker.php</code>, add some string to see if it works and it doesn't :( Nothing

[2015-01-08 21:59] danyj opened #156 "Suggestion: Reset options"
Can we have reset options button next to the save button?
This way user can always have defaults set back in case they make a mistake

[2015-01-08 22:04] danyj opened #157 "Suggestion: Show option tab only if option_tap.php exists"
If we use tab option like this

	'custom' => array(
		'title'   => __( 'Custom options', 'unyson' ),
		'type'    => 'tab',
		'options' => array(
			'sub_tab_1' => array(
				'title'   => __( 'Custom options', 'unyson' ),
				'type'    => 'box',
				'options' => array(
					fw()->theme->get_options( 'custom' ),
				),
			),
		),
	),

The tab still shows even if custom.php does not exists. Can we do

[2015-01-08 22:09] moldcraft commented on #157
[code]

[2015-01-08 22:12] danyj commented on #157
I dont think you understood what I mean. Or did I miss something you wanted to tell me ?
The code I used works perfect and I already made few tabs
what I am after is , if the custom.php does not exists
than dont show the tab in admin are.

[2015-01-08 22:14] danyj commented on #157
here
http://www.uploady.com/#!/download/dZEYZ0LM5jZ/OH890NJ5jKCAEjx~
the tabs shows and the custom.php does not exists yet

[2015-01-08 22:18] moldcraft commented on #157
I the `custom.php` does not exist, this `fw()->theme->get_options( 'custom' )` will [return an empty array](https://github.com/ThemeFuse/Unyson/blob/af5f98f657c667c48c3549eb6256a1b876dad69c/framework/core/components/theme.php#L70).
In this case, the code I show above, will generate

[code]

which in html will be just an invisible hidden input that does nothing. Also you can try to with an empty ar

[2015-01-08 22:20] danyj commented on #157
my bad , got it , I did not see the logic before the array

[2015-01-08 22:20] #157 closed

[2015-01-09 00:25] danyj opened #158 "How to Create Option Type?"
Sorry but this here does not say where to add the extend
http://unyson-docs.themefuse.com/en/latest/options/create-option-type.html#content
What is the structure we should follow.
This #89 seems to be outdated.

[2015-01-09 00:32] moldcraft commented on #158
Add it anywhere you want. If you use https://github.com/ThemeFuse/Theme-Includes add it in the `includes/` directory. Also make sure it is included only

[code]

[2015-01-09 00:36] moldcraft commented on #158
You can find the structure example in `plugins/unyson/framework/includes/option-types/`

[2015-01-09 00:41] danyj commented on #158
does not work
Fatal error: Class 'FW_Option_Type' not found
file is located inside the inc/ includes folder

function.php is calling
include_once get_template_directory() .'/inc/init.php';

bit more on the docs would be really valuable.
this is becoming a guessing game.

[2015-01-09 00:48] moldcraft commented on #158
Add it anywhere you want. If you use https://github.com/ThemeFuse/Theme-Includes add it in the `includes/` directory. Also make sure it is included only when the framework is loaded and you are on the admin page

[code]

[2015-01-09 00:55] moldcraft commented on #158
Thank you for pointing out the docs flaws. We will try to improve it

[2015-01-09 05:26] alkeshgupta opened #159 "framework-customizations styles not working.."
I am using unyson as a plugin.
I am changing style for accordion so i made styles.css file here

framework-customizations/extensions/shortcodes/shortcodes/accordion/static/css/styles.css

but its not working.. please help

[2015-01-09 08:25] 2Fwebd commented on #155
I already has this problem because I was using a menu location different than "primary" one set in the theme.

[2015-01-09 08:46] tomik3690 commented on #155
Oh, thank you. My primary menu location was called 'header_menu' and that was the problem. I changed it to 'primary' and it works now.

[2015-01-09 08:46] #155 closed

[2015-01-09 10:27] moldcraft commented on #159
Sorry, I didn't read the docs attentively. There is nothing saying about creating `style.css` in theme to overwrite it.

The right way to do it is to overwrite `shortcodes/shortcodes/accordion/static.php` in theme, so create

[code]

and enqueue your assets.

[2015-01-09 10:29] moldcraft commented on #159
Sorry, I didn't read the docs attentively. There is nothing saying about creating `style.css` in theme to overwrite it.

The right way to do it is to overwrite `shortcodes/shortcodes/accordion/static.php` in theme, so create

[code]

and enqueue your assets.

[2015-01-09 10:37] alkeshgupta commented on #159
Hello,

can you write just a bit of code for that.. like if we want to overwrite this style

.fw-accordion { border: 1px solid #eee;}

[2015-01-09 10:59] 2Fwebd commented on #138
Thank you for the update. It works sometimes, but most of the time I click one first time and I have the same error than before. **But when I click a second time** (just after) on the button it works (every time). So it's pretty weird no ? But much better than before !!

[2015-01-09 12:30] moldcraft commented on #158
I added more info to http://unyson-docs.themefuse.com/en/latest/options/create-option-type.html#content

[2015-01-09 12:30] #158 closed

[2015-01-09 13:06] #154 closed

[2015-01-09 23:17] danyj opened #160 "Can we change page builder output?"
Is there a way to change page builder class names output?
I see you have own markup but I would also like to add mine. Is it at all possible?
Talking about rows and columns.

[2015-01-10 10:03] moldcraft commented on #160
Sure, overwrite this [config key](https://github.com/ThemeFuse/Unyson-Builder-Extension/blob/9855e25e68041fac8a715cc182cbd28807d22840/config.php#L13) in your theme http://unyson-docs.themefuse.com/en/latest/extensions/directory-structure.html#content

[2015-01-10 12:26] 2Fwebd opened #161 "Import XML Wordpress tool delete Page Builder content"
Hello,
When I pack the demo content in a .xml file through Wordpress export tool. When I import it in another website, the frontend view is there where as once I click on edit (I switch in the backend). Content in the pagebuilder has disappeared...Any idea ?

[2015-01-10 14:56] danyj commented on #160
Nice one but the top container is not editable
![capture](https://cloud.githubusercontent.com/assets/2340172/5691986/1eb71618-98e1-11e4-86b5-6eb5a56196ba.JPG)

[2015-01-10 14:58] moldcraft commented on #160
[Here is a filter](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/blob/db2b612b4f7472e1bd278ff5be3d59b49ab46f85/class-fw-extension-page-builder.php#L145) which allows you to edit/remove that class

[2015-01-10 16:05] danyj commented on #160
OK , I do see that you guys are using some sort of MVC pattern that is very logic to you but you cant assume that everyone thinks  the way you do. I made same mistake few years back where I was sure that all my customers would understand  me and it backfired. Only when I gave them actual examples it  made sense to them. It was me who assumed, " hey , he/she knows that" .
Even if  "copy_this_here"

[2015-01-10 16:34] moldcraft commented on #160
Thank you for the detailed feedback.

We wrote the docs as good as we could. With time we will realize some gaps that needs to be filled, I think this is normal.

1. Can you please give us a list of main topics that you don't understand?
2. Maybe give us a pattern/rule for how docs should be written (maybe a link to your docs as an example) ?
3. What/how would you change the current documentation

[2015-01-10 16:45] moldcraft commented on #156
Added in 2.1.16

[2015-01-10 16:45] #156 closed

[2015-01-10 17:41] danyj commented on #160
OK fair enough

1: Here are things I would like to understand or have example off
* how to change builder options markup. step by step
* how to change the grid row class names. not only columns but the complete fw-row contents.
* how to remove unyson css/js in frontend
* is there an array of all theme options or do we have to get them one by one with fw_get_db_ext_settings_option
* how can I use t

[2015-01-10 18:46] #159 closed

[2015-01-10 19:38] danyj commented on #160
See this bud ,
This is my markup and columns that I need in frontend
http://jsfiddle.net/6Wb6W/16/
full width http://fiddle.jshell.net/6Wb6W/16/show/light/
Responsive out of the box and as you can see minimal as possible.

[2015-01-10 20:05] danyj opened #162 "Removing all builder shortcodes is not taking effect"
This one is bit hard to explain bare with me

Add 3 icon boxes trough page builder hit update
Now remove one hit update , works fine
Now remove remaining 2 , hit update and they wont be removed.

![capture](https://cloud.githubusercontent.com/assets/2340172/5693032/5a4d6076-990c-11e4-969d-417a0cde5c49.JPG)

![capture](https://cloud.githubusercontent.com/assets/2340172/5693033/66bc43e0-990c-11e4-84

[2015-01-10 20:22] moldcraft commented on #162
I understand that this may be urgent for you, but most of the questions will have a response only on Monday. Sorry

[2015-01-10 20:24] danyj commented on #162
No urge. Take your time.
On Jan 10, 2015 9:22 PM, "moldcraft" <notifications@github.com> wrote:

[2015-01-11 06:54] alkeshgupta commented on #159
Hello,
I tried what you told.. but its not including styles... please check again ..

Thanks

[2015-01-11 07:45] levan1993 commented on #162
Hi, I've found one issue.
When using history buttons and if you deleted all shortcodes from root last undo remains, you can test it.

[2015-01-11 07:55] moldcraft commented on #159
I tested that code.
Debug it to find out why it is not including.

[2015-01-11 08:13] llemurya commented on #162
@levan1993  can you make a video in way to reproduce this bug with history buttons please.

[2015-01-11 08:47] moldcraft opened #163 "Builder: History buttons"
@levan1993 When using history buttons and if you deleted all shortcodes from root last undo remains, you can test it.

[2015-01-11 08:47] alkeshgupta commented on #159
found it .. fixed.
Thanks

[2015-01-11 08:49] moldcraft commented on #163
@llemurya

[2015-01-11 08:50] moldcraft commented on #162
Please don't mix issues. I created a new issue, move the discussion there https://github.com/ThemeFuse/Unyson/issues/163

[2015-01-11 09:51] moldcraft commented on #160
You can't extend/overwrite class files.

It will be not right to do that. The main logic of the extension is in it's class.
Here is an example:
* We release an extension v1.0.0
* You overwrite extension class (v1.0.0) in your theme
* We fix/change something in the extension and provide an update v1.1.0
* The theme user updates the extension
* The user will still have v1.0.0 because it is loaded fr

[2015-01-11 11:07] levan1993 commented on #163
@moldcraft

the following code works in this situation.

elements.$undo.on('click', function (e) {

					e.preventDefault();

					if ($(this).hasClass('disabled')) {
						return;
					}
					utils.enableUndo();
					utils.enableRedo();

					saveStateFlag = false;

					var undoSnapshot = history.undo();

					if (undoSnapshot !== undefined) {
					    undoSnapshot = JSON.parse(undoSnapshot);

[2015-01-11 11:58] 2Fwebd commented on #161
No idea ? Maybe the is another way to proceed, I tried the backup extension but in my mind it is not easy for buyer to load the demo content. Because if I understand the thing, user have to install the demo content through a FTP client. Which doesn't seems that user friendly compared to import tool in WP.

[2015-01-12 08:54] rockalife commented on #161
Hi @2Fwebd,

I'll look into the problem today and reply later.

[2015-01-12 09:06] 2Fwebd commented on #161
Thank you, it is the last step before releasing my theme!!:)

[2015-01-12 12:50] maiakhoa opened #164 "How to disable wrapper section for specific shortcode?"
Hi team,

Do we have any way to disable wrapper section for specific shortcode ?
Currently, We have 2 type of shortcode : column and section, can we have another type to process in the Corrector ?

Thanks

[2015-01-12 13:18] maiakhoa commented on #164
I found a config to disable for whole Page Builder extension : "disalbe_correction". It's good if we have the same for each short-code :)

[2015-01-12 13:24] rockalife commented on #164
Hi @maiakhoa,

I understand what are you saying, but can you tell me more about your use case, what kind of shortcode do you want to create, how should it look in the page builder (in the backend): is it something custom like the section or column shortcodes, or is it ordinary like the rest all the shortcodes from the `Content elements` tab. Please also provide some code for me to understand what

[2015-01-12 13:29] maiakhoa commented on #164
Hi @rockalife ,
Currently, I'm using bootstrap for the theme, so I have a slider shortcode and I don't want it's wrapped by Section and Row. It will have a padding of "Container" class. I can handle it in the Section shortcode if I can have the name of that short-code.

[2015-01-12 13:36] danyj commented on #160
Thank you much for the info and yes I managed to find the way to override all markups, js and css. took me a bit but it did work. about the setting I need db params here is more info.

In my functions.php I want to remove admin toolbar , like this
http://davidwalsh.name/hide-admin-bar-wordpress
now I want to add this inside the theme settings to be on/off switch for admins ,
so I need to access th

[2015-01-12 13:44] rockalife commented on #148
Duplicate of #129

[2015-01-12 13:45] #148 closed

[2015-01-12 14:17] rockalife commented on #129
Video
--------

Can you specify how do you imagine the video option type, I understand that it should be similar to the upload option types, but it is not clear what data should the option type save, is it the url to the video file ?
What should you do on the frontend with this data, do you intend to use some kind of custom video player and feed it the url from the option type, or do you want to u

[2015-01-12 14:18] moldcraft commented on #160
* The framework is not loaded yet in `functions.php`, so you will get fatal error "undefined function or class" if you will try to use something from framework too early. There is an action called `fw_init` that is fired when the framework is fully loaded.
* Please pay attention to the function name fw_get_db_**ext**_settings_option() this means **extension**, and it is used to get an extension se

[2015-01-12 14:19] rockalife commented on #122
Hi @MoBadawy,

Regarding the video and gallery options, I have replied on [this issues](https://github.com/ThemeFuse/Unyson/issues/129). There are some questions to you, please check it out.

[2015-01-12 14:20] danyj commented on #160
ahh, ok the magic bullet. thank you!

[2015-01-12 14:28] danyj opened #165 "Options suggestion"
Can we have these  options ,  I posted joomla fields since I could not find better examples
* read files in folder , display them as a select list single/multi  example https://docs.joomla.org/Filelist_form_field_type
* read folder names in folder display them as select list   single/multi  https://docs.joomla.org/Folderlist_form_field_type
* display  menu items as select list  single/multi  https

[2015-01-12 14:30] rockalife commented on #141
Hi @mianmajid,

Yes, you are right. Don't know if you need to know the implementation details. but basically the page builder that you see in the dashboard is just a regular option type that is loaded from an extension (the [PageBuilder extension](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension) ), and it saves
it's data like all the other option types in the `wp_postmeta` table. When sa

[2015-01-12 14:38] moldcraft commented on #165
Can you give us examples of daily uses for each these options?

[2015-01-12 14:57] danyj commented on #165
* Read folders I use for fontface kits http://yjsimplegrid.com/documentation/extend/adding-custom-font-face-kits.html
* read files switch stylsheets, or js plugins
* menus, show/hide/add/remove something on specific menu item/page

[2015-01-12 15:29] rockalife commented on #164
I understood, currently this is not possible, could you rewrite the css for your slider div and give it some negative padding so it would stretch outside of the column and the column's padding would not affect it ?

[2015-01-12 16:19] maiakhoa commented on #164
ok thank @rockalife

[2015-01-13 06:07] MoBadawy commented on #129
The Video and Gallery options will be use in the page builder and shortCodes.

For Video it will save the link or if you can make an option for developer to choose what should get link or ID of the video it will be good :).

For Gallery I told you it will use for shortCodes so it should save the IDs of images.

[2015-01-13 10:01] rockalife commented on #153
Hi @danyj,

The styles are loaded in the body because the `wp_enqueue_style` function was called after the html for the `<head>` element was generated. Let me explain on the example of shortcodes. When WordPress renders some page from top to bottom and reaches the content with some shortcodes  in it eventually the handlers (php functions) that were registered with those shortcodes will be executed

[2015-01-13 10:35] danyj commented on #153
@rockalife  Bud,  I think I posted a valid bug. Not sure what the way I would construct my theme has to do with it. Your css files and inline css are loading in a wrong place. Simple as that. This has nothing to do with my theme and I did not say that files from my theme are loading in the body. Just because wp_enqueue_style is loading before your methods does not mean that you cant read the body

[2015-01-13 10:45] moldcraft commented on #153
@rockalife [This](http://pastie.org/private/ln6gctjig6kp0y8krlhlq) fixes the problem.
Rendering the shortcodes (post content) in the `wp_enqueue_scripts` action includes all `static.php` and enqueue the styles inside `<head>`.

The only "problem" is that the post content shortcodes will be rendered twice.

What do you think?

[2015-01-13 14:12] rockalife commented on #161
Hello @2Fwebd,

I have tested exporting with the standard WordPress export tool and importing with the `WordPress importer` plugin with simple pages and portfolio post types. It works fine, the only thing to watch out is to not forget to activate the post types that the page builder supports in the new site.

![settings page](http://static.md/a843d238f4608f67d353bc8da8f71724.png)

![post types tha

[2015-01-13 14:22] 2Fwebd commented on #161
Hello @rockalife ! Thank you for the reply, can you edit the pages once imported through Wordpress with the page builder ? Because my issue is not to import them but to edit them. Because I see the layout but when I click on "edit" I get a blank page builder in WP.

[2015-01-13 15:18] rockalife commented on #161
Yes @2Fwebd, the imported pages were opened correctly, with the page builder active and the shortcodes arranged in the same way as when they were exported.

[2015-01-13 15:25] rockalife commented on #161
However some of the shortcodes options, those that contained urls were not replaced with the new domain. Because of the limitations of the standard export and import tools we have built the auto install extension which was meant to address these issues.

[2015-01-13 15:46] rockalife commented on #153
@moldcraft,

Another problem is that the users who do something similar to the steps that I have described in the list above and put all their css into one file (thus reducing the number of http requests) and load the file in the `<head>` element would get a useless render of the shortcodes on every page.

I did not test how expensive is that extra render, but something just feel wrong about this.

[2015-01-13 23:09] 2Fwebd commented on #161
Hello,
Thank you for the replies. I checked again and you are right it works well. Nevertheless do you think it could have been caused by the fact that I saved all the page builder layouts in some "templates" ? Maybe the "templates" in the page builder do not support exportation through Wordpress export tool.

[2015-01-14 08:58] rockalife commented on #161
If by templates you mean this ones:

![page builder templates](http://static.md/083b0247fd876160ee2172a023400e35.png)

then you are right, these templates are saved in the `wp_options` table, which is not exported via the WordPress exporter (as far as I know and have tested).

[2015-01-14 10:28] 2Fwebd commented on #161
Ok thank you for the informations :) I was talking about that.

[2015-01-14 10:28] #161 closed

[2015-01-14 10:51] #147 closed

[2015-01-14 15:07] wilmcgil opened #166 "Blank Unyson Page"
I installed the Unyson Plugin and it installed fine and activated. The Unyson page in the dashboard is blank.

Any ideas?

Thanks
Wil

[2015-01-14 15:22] moldcraft commented on #166
Please look into your apache `error.log` and maybe if you will find there some error message.

[2015-01-14 20:33] #139 closed

[2015-01-15 08:55] #162 closed

[2015-01-15 14:51] llemurya commented on #163
Hi @levan1993,

I don't quite understand what should I do to reproduce your issue. Could you make a screencast or at least provide a clear set of instruction for me to follow, something like:

1. Add button shortcode
2. Add testimonials shortcode
3. Delete the button shortcode
4. Press the undo button
.....

[2015-01-16 00:33] levan1993 commented on #163
@llemurya

1. create new page.
2. switch to page builder.
3. add some shortcodes.
4. press the undo button.

when you delete all shortcodes by undoing changes you'll notice that last undo remains,
so page builder json will contain one shortcode.

here is screenshot
![capture](https://cloud.githubusercontent.com/assets/7342339/5769727/492e4eec-9cd4-11e4-954e-ef90395794c8.PNG)

[2015-01-16 07:24] llemurya commented on #163
Hi @levan1993 ,yes I can reproduce it, in next hours this bug will be fixed.

[2015-01-16 08:27] llemurya commented on #163
I fixed this issue, in next Builder Extension update, it will be available

[2015-01-16 08:27] #163 closed

[2015-01-18 18:32] fedriz opened #167 "Download Available Extensions"
![erroreu](https://cloud.githubusercontent.com/assets/9001053/5793541/2847dc18-9f48-11e4-95b8-7262d740664b.png)

Hi! What can I do? I do not know what it means.
It happens when I click the button to download any extension.
Thanks in advance!

[2015-01-18 19:25] moldcraft commented on #167
Hi,
It seems that your server can't access properly [this url](http://github-api-cache.unyson.io/repos/ThemeFuse/Unyson-Shortcodes-Extension/releases) or `json_decode()` fails  ([the code](https://github.com/ThemeFuse/Unyson/blob/6db4abf276f2ff50f70b7e9a3736372040a91d67/framework/core/components/extensions/manager/class--fw-extensions-manager.php#L1792))

I can't reproduce this error, so please
*

[2015-01-18 20:14] fedriz commented on #167
Downloading the "Shortcodes" extension...

"Shortcodes" extension github repository "ThemeFuse/Unyson-Shortcodes-Extension" has no releases.

Same error, i will try to reinstall.
Thanks for your help

[2015-01-19 14:18] DimiBaitanciuc opened #168 "Shortcode hover descriptions"
We need to have these descriptions for the shortcodes:

**Layout Elements**

1/6 - http://joxi.ru/Vm635jKIDo6b2Z (Add a 1/6 column)
1/4 - http://joxi.ru/8238nGWcJvpjAO (Add a 1/4 column)
...
Section - http://joxi.ru/L21Jpg5U8d3pAX (Add a Section)

**Content Elements**

Accordion - http://joxi.ru/gmvV6M1TLOEpma (Add an Accordion)
Button - http://joxi.ru/DmBR1KgTwGkqmP (Add a Button)
Calendar - http

[2015-01-19 19:51] moldcraft commented on #153
The fix is included in [v1.2.7](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/releases/tag/v1.2.7)

[2015-01-19 19:51] #153 closed

[2015-01-20 09:40] #168 closed

[2015-01-20 12:03] maiakhoa opened #169 "How to edit directly short code in text mode ?"
Hi,

Anyone could tell me the way to edit short code that generated by Page Builder in text mode ?

Thanks

[2015-01-20 18:07] NwpDeveloper opened #170 "No Page Preview and Shortcode/HTML generated"
I like the plugin, but there are 2 major issues:
1) When using the shortcodes to layout a page it doesn't generate a preview.
2)There also doesn't seem to be a way to convert page to html or edit the page in the text mode.

[2015-01-21 09:11] dobromir-hristov opened #171 "Adding custom row type to the Page Builder Price Table"
I`m trying to extend the builder to have a "description" type row for the Pricing Tables.
The purpose is to make it compatible with Zurb Foundation, and to learn your framework. For now I love it.
I saw the table types they are defined in FW_Option_Type_Table class, but i cannot figure how to add another type.

[2015-01-21 13:34] rockalife commented on #169
Hi @maiakhoa,

If by `text mode` you mean the the WordPress edtior, than we have just updated the repository of the [page builder extension](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension) with new functionality that integrates the page builder shortcodes with it. Here is a screenshot

![page builder wp editor integration](http://static.md/f5faaff2b87743235df25b466bfe5a70.png)

**PS:**

[2015-01-21 13:42] rockalife commented on #170
Hi @NwpDeveloper,

1. Do you mean preview of the page that is being built ? Can you describe more detailed where do you imagine the page preview to be displayed, or draw a mock.
2. About being able to update the page in text mode I've replied to another similar issue, check it out [here](https://github.com/ThemeFuse/Unyson/issues/169)

[2015-01-21 14:35] ierpe opened #172 "Disable shortcodes from the page builder"
Hi,

Is it possible to disable specific default shortcodes from the page builder?

[2015-01-21 14:44] ierpe opened #173 "Shortcode wp-editor Visual editor by default"
Hi,
When creating a wp-editor option for a shortcode, the editor is always on the Text tab by default.
Is there an option to have the visual editor by default?

[code]

[2015-01-21 15:03] player0k commented on #173
Hi,
No there are not.

[2015-01-21 15:13] ierpe commented on #173
Ok, I need this feature.

Could you point out the file that deals with the shortcodes options types please?

I might have a look, implement this option and make a pull request

[2015-01-21 15:17] rockalife commented on #172
Hi @ierpe,

We did a demo of how to disable a shortcode [in our Scratch theme](https://github.com/ThemeFuse/Scratch-Theme/blob/master/scratch-parent/framework-customizations/extensions/shortcodes/hooks.php), also check out [this similar issue](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/issues/1)

[2015-01-21 15:27] player0k commented on #173
https://github.com/ThemeFuse/Unyson/blob/master/framework/includes/option-types/wp-editor/static/js/scripts.js#L68

[2015-01-21 16:06] NwpDeveloper commented on #170
1. When editing a page in the upper right hand corner is a the publish section. Theres a "Preview" button there next to the "Save Draft" button and above the "Publish" button.

The default functionality of Wordpress allows you to view chnages in a new tab when you hit "Preview" before saving.

With Unyson, when  you make a change to the page, and  you  hit the "Preview"  button, changes are not sh

[2015-01-21 17:14] ierpe commented on #172
Thanks that solved it!

[2015-01-21 17:14] #172 closed

[2015-01-21 18:46] thednp opened #174 "[BUG] Shortcodes extension missing in the Unyson panel?"
I just installed the latest version today for a look around.

I installed it on a test dev with WP 4.1, first time I see Shorcodes extension in the list, but ignore it, then Download some other extension (for fun) and Shortcodes extension dissapears from the list.

I tried reinstalling the plugin and still no Shortcodes extension in the list.

Unyson version 2.1.17

I really think this is a bug.

[2015-01-21 18:49] thednp opened #175 "[Question] How can I hook a custom action when saving theme options?"
I am basically thinking how to hook a PHP.LESS compiler when theme options are saved. I already have this done for other framework, but since I wish to learn about your framework I need to know this before I start developing.

Thanks so much.

[2015-01-21 19:16] moldcraft commented on #175
Us the [`fw_settings_form_saved`](https://github.com/ThemeFuse/Unyson/blob/af0f72ad19d22eb0b9a3de452b6444d4d0da106a/framework/core/components/backend.php#L907) action

[2015-01-21 19:26] thednp commented on #175
Thank you so much. Will it wait for my action to complete before showing "Saving complete"?

[2015-01-21 20:05] moldcraft commented on #175
It works like this:
* Save the options
* Add message in `$_SESSION`
* Fire the action
* Refresh the page
* Show the message from `$_SESSION`
* Remove the message from `$_SESSION`

[2015-01-21 20:40] thednp opened #176 "[Question] Can the containers be repeatable?"
I am thinking about being able to add multiple options inside a group. I need to know if the group can be repeatable and posibility to duplicate.

Thanks again.

[2015-01-21 20:46] thednp opened #177 "[Suggestion] Improve the Unyson Extensions page"
Have it capable to install/activate/deactivate/remove multiple extensions at once with user selection.

I also noticed it may reach the server response time limit when all extensions are being installed.

[2015-01-21 20:49] moldcraft commented on #176
The group does not affect option ids. If you duplicate a group, you have to change the inner options ids.

[2015-01-21 20:55] moldcraft commented on #177
Can you give us an idea of how it should look like (a screenshot or [a mock](http://ninjamock.com/)) ?

Ok, we will add

[code]

[2015-01-21 21:01] thednp commented on #177
OK. Here some ideas:

1. Give the user the option to switch list/gird view
2. Simply give those boxes some checkbox, and below the list/grid some buttons Download | Download & Activate
3. For the active extensions list also some checkboxes and buttons Disable | Delete

[2015-01-21 21:09] thednp commented on #176
I think you didn't get it because my question sounds quite vague.

Here's a more detailed example:
* I have a CPT with some "child items" that are manageable in a metabox options group.
* I need this group to behave like a page builder element.

NOTE: Just like with pagebuilder elements (can be added/duplicate existing element, etc).

I hope you get a better picture this time.

[2015-01-21 21:43] Xyr2 opened #178 "[Question] Use CSS Helpers"
In the Documentation it says:

Useful css classes for admin side. To use these helpers, add fw to your style dependencies:
wp_register_style(..., ..., array('fw'));

Where do I have to add this, and what exactly do I have to replace the dots for?

Thank you!

[2015-01-21 21:56] moldcraft commented on #176
Try the [Addable Box](http://manual.unyson.io/en/latest/options/built-in-option-types.html#addable-box) option type, I think it may match what you described. Unfortunately it doesn't have the "duplicate" feature.

P.S. What is CPT?

[2015-01-21 21:59] moldcraft commented on #178
[code]

or

[code]

[2015-01-21 22:31] thednp commented on #176
Thanks. I believe I can achieve it with an override and use some code from the page builder. Anyways, I think this would be a great feature to consider implementing, there aren't many frameworks that can do this.

CPT stands for custom post type.

I think I will migrate to your framework after all, not because great support, but because the code, it's so valuable.

Thanks again.

[2015-01-21 22:49] Xyr2 commented on #178
Hey moldcraft,

thanks for your fast reply!

I added
[code]
to my functions.php and its working. But I'm not sure if this is the right attempt..

If I just add
[code]
its not working.

Have I done it right? If yes, is there a way to remove the fw-ext-builder-frontend-grid-css when the Page Builder is used? Because then the grid classes are there 2 times..

And for the record, this framework is rea

[2015-01-21 23:04] moldcraft commented on #178
This

[code]

overwrites [this](https://github.com/ThemeFuse/Unyson/blob/ccce0cb3b10d5a6d81a792a95e563aeefa839c48/framework/core/components/backend.php#L230). It's not the right way to do it.

No. Admin styles and scripts must to be enqueued on the `admin_enqueue_scripts` action or later (it's not correct to enqueue them earlier). Just adding that code in functions.php doesn't work because the sty

[2015-01-21 23:06] moldcraft commented on #176
You are welcome

[2015-01-21 23:06] #176 closed

[2015-01-21 23:07] #166 closed

[2015-01-22 01:09] thednp commented on #174
I believe that shortcodes have been included into the page builder and does not count as a separate extension anymore.

[2015-01-22 05:29] wpEvents opened #179 "Plugin Check Errors"
Hello,

First of all I want to Thank you for this great product! It is a wonderful plugin, so easy to use and to configure. My favorite part is how easy it is to adapt it for WordPress themes. Absolutely incredible. :)

If you can fix the errors underlined by Plugin Check plugin it would be wonderful. (I attached a printscreen)

Great work guys!

![unyson-plugin-check](https://cloud.githubusercont

[2015-01-22 07:08] sergiubagrin commented on #177
Hi @thednp,

Q: Give the user the option to switch list/gird view Simply give those boxes some checkbox, and below the list/grid some buttons Download | Download & Activate For the active extensions list also some checkboxes and buttons Disable | Delete
A: Thank for suggestion i add it to review list.

Q: Think about the end user who's gonna have to install 5 theme extensions and 5 core framework

[2015-01-22 07:17] sergiubagrin commented on #165
Q: Read folders I use for fontface kits http://yjsimplegrid.com/documentation/extend/adding-custom-font-face-kits.html
read files switch stylsheets, or js plugins
A: We dont have this options in work. I added it to review board.

Q: menus, show/hide/add/remove something on specific menu item/page
A: Can you give me more details? You mean to create custom menus for specific pages, posts?

Thanks

[2015-01-22 07:19] #119 closed

[2015-01-22 09:17] rockalife commented on #170
1. I understood what you meant by preview, it seems to work fine for me, I've uploaded [a video](https://www.youtube.com/watch?v=okz-JGHfZLA) where I am testing it.
2. You are right, the page builder generates shortcodes when the page page is saved. The main idea is that a user should not need to switch between the visual page builder mode and the WordPress text mode and edit with the shortcode ma

[2015-01-22 10:57] thednp commented on #177
Alright, sounds interesting.

[2015-01-22 11:23] DimiBaitanciuc opened #180 "Range Option Value"
The range option has a small issue on the 0 value:
http://joxi.ru/Vm635jKIDwX62Z

If you start dragging it sorts it self out, but if you hit refresh, it appears again.

[2015-01-22 12:09] maiakhoa commented on #169
Thanks for you feedback and new features.

I mean I can edit the text that generated by Page Builder when switch again to text mode. As you know, if I have a button short-code, I created it once and copy to another page instead of create new by Page Builder.

I will try the new feature.

Thanks

[2015-01-22 12:32] rockalife commented on #169
At the moment there is no way editing the page created with the page builder in the WordPress editor's text mode (or visual mode), so you can not create a page with the builder, switch to text mode copy the generated shortcodes and then pasting them into some other page.
You could use page builder templates to save some sort of layout with predefined shortcodes and load it when creating another pa

[2015-01-22 12:34] maiakhoa commented on #169
Thank so much @rockalife

[2015-01-22 12:38] rockalife commented on #169
You are welcome.

[2015-01-22 12:38] #169 closed

[2015-01-22 13:12] thednp commented on #180
I think it's a small CSS issue, what is the value when sliding to zero?

[2015-01-22 14:17] #180 closed

[2015-01-22 14:23] thednp opened #181 "[Suggestion] Improve the typography option type"
I think at this point the typography option type >as is< today is mostly unusable. I am talking about "fast development" here. Most users will have to override the option type to simplify or extend current functionality like myself and this isn't fast development. I mean no offence here, please read on.

For instance I see no reason why having the color option for the headings because I use PHP.LE

[2015-01-22 15:45] thednp opened #182 "[QUESTION] How does the sample data import really works?"
I see the classes include alot of SQL manipulation code and the auto-install folder has a full db SQL dump. I also checked the video introduction to the sample data import feature and looks neat and simple but that's a nightmare for a developer really :)

So I need to know what the import does after first time theme activation because I can try to hook some actions to it.

Here's how I think of it

[2015-01-22 16:23] moldcraft commented on #179
We know about them and we explained everything in [`plugin-check-info.md`](https://github.com/ThemeFuse/Unyson/blob/master/plugin-check-info.md).

If there errors that are not specified in `plugin-check-info.md` let us know.

[2015-01-22 16:23] #179 closed

[2015-01-22 16:37] #178 closed

[2015-01-22 16:39] #175 closed

[2015-01-22 16:39] #167 closed

[2015-01-22 19:08] NwpDeveloper commented on #170
1. Thanks for posting the video. Perhaps there's a conflict with jquery in another plugin causing this issue on my install.
2. Ok. No worries.
How do I make full width rows? I want a row that spans the entire page with a background color yellow. Currently all rows have a fw-rows class and any css  changes affects all rows.
Should I edit core files to change or append classes or is js necessary?

[2015-01-23 06:53] #177 closed

[2015-01-23 07:03] moldcraft opened #183 "Extensions install timeout"
When installing many extensions, sometimes it takes too long and the 30 seconds timeout is reached.

It is needed to increase the timeout depending on the number of extensions that are going to be installed

[code]

[2015-01-23 07:03] moldcraft commented on #183
https://github.com/ThemeFuse/Unyson/issues/177

[2015-01-23 08:35] rockalife commented on #174
Hi @thednp,

It is strange indeed because the Shortcodes extension should not appear in the extensions list (it has a [special setting](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/blob/master/manifest.php#L5) which makes it hidden in that list), so if you really mean that the Shortcodes (not the Page Builder) extension has disappeared then the real question is why did it appear in the

[2015-01-23 10:37] MoBadawy commented on #174
I think he was taking about this https://trello.com/c/CX8emlPS/50-shortcodes

[2015-01-23 11:50] thednp commented on #174
Perhaps a silent quick update changed my code right after the first install, and yes @MoBadawy is right, I am also not seeing any Unyson Shortcodes in my edit page.

[2015-01-23 12:01] rockalife commented on #174
@thednp, this functionality has been [released](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/releases/tag/v1.3.0) recently, so you try the following steps:

1. Update `Unyson Extensions` from the Updates page.
2. Deactivate and activate the Page Builder extension from the extensions list.
3. See if it has appeared when adding a new page

[2015-01-23 15:28] thednp commented on #174
HA!
I have new updates for Unyson extensions in the updates page, but when deactivating the page builder, the updates page don't show any new updates.

[2015-01-23 21:58] moldcraft commented on #174
@thednp the update extension is working only with active extensions. For e.g. if you have installed/downloaded 10 extensions and 3 of them are active, only those 3 will be checked for updates.

[2015-01-24 02:16] webangon opened #184 "Automatic extension activation"
Hi
How can activate an extension without clicking activate button?
![capture](https://cloud.githubusercontent.com/assets/7946657/5885763/2abd8c24-a3a1-11e4-90e7-4141a99293fa.JPG)

I hope these options are saved using settings api.
Thanks

[2015-01-24 03:54] AminulBD opened #185 "Auto activation extensions on install unyson or active the theme?"
Is this possible to do auto install and activation extensions when install unyson as plugin or active the theme?

[2015-01-24 10:05] levan1993 commented on #174
private function add_admin_filters() {
		global $tinymce_version;
		if ( version_compare( $tinymce_version[0], 4, ">=" ) ) {
			add_filter( 'mce_buttons', array( $this, '_filter_admin_register_button_menu' ) );
			add_filter( 'mce_external_plugins', array( $this, '_filter_admin_register_tinymce_javascript' ) );
		} else {
			//todo: enquee other js plugins for other tinymce versions ??
		}
		add_f

[2015-01-24 10:39] mikebens opened #186 "Problem Downloading Extensions"
Trying to add extensions I get -
Downloading the "Media" extension...
Cannot download the "Media" extension zip.

with debug true returns -
Deprecated: Function ereg_replace() is deprecated in /public_html/wordpress/wp-admin/includes/class-ftp-pure.php on line 113

[2015-01-24 11:12] moldcraft commented on #185
No. The framework can't install/download anything in background, especially when ftp credentials are required.

But it's possible to specify [a list of extensions supported by your theme](https://github.com/ThemeFuse/Scratch-Theme/blob/9c47c07b83516441a802a529825c8bfa9ab9ea86/scratch-parent/framework-customizations/theme/manifest.php#L9) and the user will be redirected to a page to install those e

[2015-01-24 11:16] moldcraft commented on #184
When you click the "Activate" button [this code](https://github.com/ThemeFuse/Unyson/blob/f3c9de97634fef250e77edd631b841b9c3df73ab/framework/core/components/extensions/manager/class--fw-extensions-manager.php#L1392-L1439) activates the extension(s)

[2015-01-24 11:19] moldcraft commented on #186
Can you add

[code]

after [this line](https://github.com/ThemeFuse/Unyson/blob/6db4abf276f2ff50f70b7e9a3736372040a91d67/framework/core/components/extensions/manager/class--fw-extensions-manager.php#L1825) (inside that `if`) ?

[2015-01-24 12:01] mikebens commented on #186
Thanks & my apologies looks like server problem -

WP_Error
(
    [WP_Error:errors] => array
    (
        [http_failure] => array
        (
            [0] => 'There are no HTTP transports available which can complete the requested request.'
        )
    )
    [WP_Error:error_data] => array()
)

[2015-01-24 12:14] moldcraft commented on #186
[Thank you, too](https://github.com/ThemeFuse/Unyson/commit/367449656fb7554ba057ec536f6b3396a70e915d)

[2015-01-24 12:14] #186 closed

[2015-01-24 12:29] moldcraft commented on #184
Or maybe you will find an answer [here](https://github.com/ThemeFuse/Unyson/issues/185)

[2015-01-25 13:23] #185 closed

[2015-01-26 01:53] Lisa-Williams commented on #153
@moldcraft

Yes you can. And you are already using it. PHP output buffering.
While rendering ```header.php```, also render an empty ```<style>OPTION_STYLES_HERE<style>``` tag into ```<head>```
While rendering the body of the page (```whatever-page.php```) concatenate the option specific CSS in one variable, for each option added to the page.
While rendering ```footer.php```, at the very end, get t

[2015-01-26 07:21] #173 closed

[2015-01-26 10:37] DimiBaitanciuc opened #187 "Event map"
Let's make the map on the Event page a little larger in width: http://joxi.ru/L21Jpg5U8X11AX

[2015-01-26 10:48] moldcraft commented on #153
@Lisa-Williams

[code]

[code]

-----

I have some questions about the solution with output buffering:

* If page content/html is big (for e.g. [scratch theme demo options](https://github.com/ThemeFuse/Scratch-Theme/blob/9c47c07b83516441a802a529825c8bfa9ab9ea86/scratch-parent/framework-customizations/theme/options/settings.php#L12)), how much it will increase php memory consumption?
* If some fata

[2015-01-26 13:00] andronic90 opened #188 "save option failed"
after save general options appear an error and all options are lost, screenshot : http://awesomescreenshot.com/0d949pg734

[2015-01-26 16:07] moldcraft commented on #188
This happens when the page is open for a long time and the nonce expires

[2015-01-26 16:13] #188 closed

[2015-01-26 16:57] #183 closed

[2015-01-26 19:38] Lisa-Williams commented on #153
- Yes it will use more memory (the variables). How much I do not know. But ```memory_get_usage (true)``` will. **This could be a show stopper.**
- It's possible to specify an output callback function like this ```ob_start("ob_errorCheck")``` for the other ```ob_*``` functions to use, for example ```ob_end_flush()``` (not all of them though).
When executing ```$content = ob_end_flush();``` it will

[2015-01-27 11:52] 2Fwebd commented on #151
Hello @danyj !
Just to confirm you and everyone else that you *can upload your theme working with Unyson on Themeforest*. Mine was just accepted today !! ;)
http://themeforest.net/item/starry-creative-easy-wordpress-theme/10100894
Thank you @moldcraft for all the help !!

[2015-01-27 11:53] danyj commented on #151
@2Fwebd nice news bud and good luck!

[2015-01-27 11:56] moldcraft commented on #140
https://github.com/ThemeFuse/Unyson/issues/151#issuecomment-71635029

[2015-01-27 11:56] #140 closed

[2015-01-27 12:01] moldcraft commented on #151
@2Fwebd :+1:

[2015-01-27 12:19] danyj commented on #151
@2Fwebd  Did you update Unyson ?
you have the old bug where css is inside the body #153  so your html is not validating
http://validator.w3.org/check?verbose=1&uri=http://2f-design.fr/themes/starry/

[2015-01-27 12:22] 2Fwebd commented on #151
I think I have the latest release, I'll check.  Actually, they made an exception here because I fixed many other ones ;)

[2015-01-27 12:23] danyj commented on #153
And here again reminder why this should not be done
#151 2Fwebd just released his theme on TF and html is not validating because you have the style inside the body. If style is to be used there which it should not it should also use property='stylesheet'
http://validator.w3.org/check?verbose=1&uri=http://2f-design.fr/themes/starry/

But this is not acceptable
http://2f-design.fr/themes/starry/wp-c

[2015-01-27 12:34] danyj opened #189 "Option to remove query strings from CSS and JS"
Can we please have an option to remove query strings from styles and js files.
This is very badly rated on site speed.
http://www.webpagescreenshot.info/i3/54c7856d42ad50-60275936

[2015-01-27 12:37] moldcraft commented on #151
@2Fwebd It is not the latest release.

[There](http://2f-design.fr/themes/starry/wp-content/plugins/unyson/framework/extensions/shortcodes/) is [a file called `.gitmodules`](http://static.md/7c6f29d5a8bb3ac89fe10dc1d4f14539.png) which was removed in the latest version. Here it is in [v1.2.6](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/tree/b0506930f07770dd7afa857856bf4c61daa0edc2) but

[2015-01-27 12:42] danyj commented on #151
@moldcraft I test it on my local and the files are placed in head in latest version , updated everything 10min ago.

[2015-01-27 12:57] moldcraft commented on #189
The query string is used to reset browser cache and load the latest script/style after the user updated an extension or the framework. For e.g. [we use framework version in all admin styles](https://github.com/ThemeFuse/Unyson/blob/fce9d3786d3e76c9daad51fde9d2645fefc61390/framework/core/components/backend.php#L219) and scripts.

----

You can use [this filter](https://github.com/WordPress/WordPres

[2015-01-27 13:48] rockalife commented on #149
This was implemented in [v1.2.8](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/releases/tag/v1.2.8) of the Shortcodes extension

[2015-01-27 13:48] #149 closed

[2015-01-27 14:11] 2Fwebd commented on #151
Thank you for the feedback ! ;) I updated to 2.1.18 and removed the file. But it seems that the errors are still here. However, I don't think that there is any impact but I have a bunch of custom shortcodes in the theme files (framework-customizations/extensions/... )
Let me know if you need more details.

[2015-01-27 14:21] moldcraft commented on #151
I didn't mean to update the framework, but the extensions. *(anyway it's good that you updated it)*

No need to remove the file manually, just update the extensions and the file will be removed automatically.

I mentioned that file just to confirm that you don't have the latest version of the shortcodes extension, it doesn't affect anything that we are talking about.

So just update the extensions

[2015-01-27 14:34] 2Fwebd commented on #151
Sorry... I just did it and it works perfectly !!! ;) http://validator.w3.org/check?uri=http%3A%2F%2F2f-design.fr%2Fthemes%2Fstarry%2F&charset=%28detect+automatically%29&doctype=Inline&group=0

Thank you very much !!

[2015-01-27 14:38] danyj commented on #151
@2Fwebd there you go ! :+1:

[2015-01-27 14:55] moldcraft commented on #153
Fixed https://github.com/ThemeFuse/Unyson/issues/151#issuecomment-71656840

This is the way we organized files to be convenient for developing. Like that, all shortcodes are in their own directory with everything they need without affecting any other file outside it.

You can disable any shortcode styles/scripts by overwriting its `static.php` with an empty file in the theme, and place all your st

[2015-01-27 15:14] #189 closed

[2015-01-27 16:34] danyj commented on #153
what you could get away with is something we did in our joomla framework and that is inline css where is needed. we achieved that with a global inline css var and trough out the framework we keep on adding to it if needed so everything stays dynamic, no css files are being used and the css stays in head.
With your current approach you are sacrificing page file requests for one css line which turns

[2015-01-27 16:38] danyj commented on #153
You can consolidate all your css with this compiler
https://github.com/oyejorge/less.php
we are using it for our LESS and CSS files
Check it here
http://joomlatemplates.youjoomla.info/eximium/
we compiled over 10 css files plus BS and FA
http://joomlatemplates.youjoomla.info/eximium/templates/eximium/css_compiled/template-blue.css

And here is what I was saying about dynamic CSS
https://www.upload

[2015-01-27 18:47] moldcraft commented on #153
Thank you for sharing the info.

Wordpress users know that css files are included with `wp_enqueue_style()` and js with `wp_enqueue_script()`, that's all. If we will add some custom functions to include js/css this will be confusing. We want to stick to the default wordpress behavior and keep things simple.

----

If you are and advanced developer and want to optimize your theme, you can easy do t

[2015-01-27 22:24] sergiubagrin commented on #182
Hi @thednp,

1. after the theme activation it will display a notice to install the TGM plugin kicks in and installs the required plugins: Unyson after this we will receive a message in case you want to install all theme supported extensions: http://screencast.com/t/SwcHB7JU

2. After this you click on Import Demo Content (a. first of all Import Demo Content Extension will save users data, general

[2015-01-27 22:51] sergiubagrin commented on #171
Hi @dobromir-hristov,

Why you need a description type row? Can you give me a example with a screen? I think you can use Default Row for descriptions: http://screencast.com/t/JpFA37B4

[2015-01-27 23:00] thednp commented on #182
Thank you.

[2015-01-27 23:00] #182 closed

[2015-01-27 23:50] Lisa-Williams commented on #153
@moldcraft

I'm 100% sure that I've seen at least 3 demos in Themeforest's Top 10 WP selling themes, which very sparsely make use of base64 encoded images in CSS files. These themes are in the Top 10 month after month. It varies per theme from 1 -3 usages. And the count fluctuates. A theme might have 1 usage this week, 2 or 3 usages the next week/month.
So is it usage of the ```base64_encode()```

[2015-01-28 01:53] braginteractive opened #190 "Error when publishing page while using page builder"
I am using the page builder extension and when I published the page I sometimes get this error.

Catchable fatal error: Argument 1 passed to fw_get_options_values_from_input() must be of the type array, null given, called in /wp-content/plugins/unyson/framework/extensions/shortcodes/extensions/page-builder/extensions/editor-shortcodes/class-fw-extension-editor-shortcodes.php on line 111 and define

[2015-01-28 02:29] MoBadawy opened #191 "Why the editor ShortCode is not Separate from Page builder?"
When I saw the editor ShortCode in trello, I thought it will be a separate extension from page builder extension with own settings and ShortCodes for editor.
What is the benefit from it now ?

[2015-01-28 04:57] braginteractive commented on #92
So I noticed if you create a manifest file for an extension you can set it to not display.

[code]

[2015-01-28 05:36] nickcoupland opened #192 "Shortcodes icon only appears when page builder is activated for particular post type."
This might be deliberate but I was just curious if the shortcodes toolbar icon is only to appear when the page builder is activated for a particular post type. For example if I want to use the shortcodes tool on my blog posts I have to have page builder enabled for blog posts. Is this how the functionality should work?

Also after a recent update I've noticed the styling for settings tabs to be bu

[2015-01-28 06:20] sergiubagrin commented on #191
Hi MoBadawy,

Editor ShortCode use the same shortcodes like page buider. I decided to add it to page builder  because it is more easily to explain users from my point of view how to activate more options for pages with one extension.

1. Why do you think it is needed to be a separate extension?
2. with own settings and ShortCodes for editor. Can you give me examples of specific settings for editor

[2015-01-28 06:26] sergiubagrin commented on #190
Hi @braginteractive,

Can you give us more details, PHP, Apache, MySQL, verisions OS (Win, Mac). Also add your page content or a zip file with your wordpress folder + SQl files

Thanks

[2015-01-28 06:34] sergiubagrin commented on #192
Can you give me a screen. I tested on my side and it is working fine. Try to disable all plugins and activate default Wordpress Theme

Yes. Editor ShortCode use the same shortcodes like page buider. I decided to add it to page builder because it is more easily to explain users from my point of view how to activate more options for pages with one extension.

This is the second question today: https

[2015-01-28 06:38] sergiubagrin commented on #153
Hi @Lisa-Williams

<code>base64_encode()</code> function is not allowed. A lot of themes on themeforest use base64_encode. If you need an encode solution best of all avoid base64_encode in your Theme

Thanks

[2015-01-28 09:57] DimiBaitanciuc opened #193 "Button Text"
Let's modify the Visual Page Editor button to Visual Page Builder: http://joxi.ru/brRnEqgU7JbNr1
We've added some names in the template section and it's more accurate and easy to grasp when you say "Visual Builder Template" and we want the users to make the correlation between the button "Visual Page Builder" and the template name "Visual Builder Template".

[2015-01-28 10:28] moldcraft commented on #153
@Lisa-Williams base64 data in css is ok, `base64_encode()` php function is not

You can simply test that:

1. Take any theme
2. One any php file and place in it ` base64_encode('');`
3. Create zip and upload it on http://themecheck.org/
4. You will see [this error](http://static.md/1f495cc8a6aa484d5be7a73a38df8113)

That's all. No one cares if that function usage is safe or does something bad, the

[2015-01-28 10:39] moldcraft commented on #92
@braginteractive By default it's not displayed (false). If you want to display it, set that parameter to true.

[2015-01-28 11:20] dobromir-hristov commented on #171
It is for the purpose of learning the framework, how to extend the functionalities, and while porting everything to Zurb Foundation, I saw they have a description row so I decided to give it a shot. It can be a different type of row, depending of someones needs.

[2015-01-28 11:37] moldcraft commented on #153
The same solution ([as above](https://github.com/ThemeFuse/Unyson/issues/153#issuecomment-71703877)) but without base64.

*You can test it in your theme `functions.php`*

[code]

[2015-01-28 13:11] #184 closed

[2015-01-28 13:47] sergiubagrin commented on #171
Hi @dobromir-hristov,

We analysed a lot of tables and pricing tables and we decided to use only this type of rows and columns. From our point of view are more than enough : our FrontEnd Standart: http://test.themefuse.com/integrare_html/tables.html (soon will be available with Unyson Docs)

[2015-01-28 14:30] DimiBaitanciuc opened #194 "Menu Icon Color"
Let's change the color for the default icon from Menus when you don't have any icons attached: http://joxi.ru/DmBR1KgTJJJ3mP Let's make it: #e1e1e1

The problem is that I thought I had an icon already added and didn't know why it didn't display on the site and then realized that is the default icon.

[2015-01-28 16:18] braginteractive commented on #190
Using the plugin locally with WordPress Version 4.1 | Unyson 2.1.18.

WP_BUG set to True

PHP 5.6.2

[2015-01-28 16:25] moldcraft commented on #190
Fixed in https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/commit/0469d390091ed453d6dadfd110f6d9fb142ce95b

We will let you know when a new version with this fix will be released.

[2015-01-28 17:13] danyj opened #195 "[suggestion] Typography option improvemants"
I am not sure if this is already in but if not
can we have the typography option displayed without the font  size and or font color.
Not sure if there is only font option.
Also finding a google font by name is tedious, can we have search input in dropdown please.

[2015-01-28 17:33] MoBadawy commented on #191
I need in "blog posts" editor ShortCodes not page builder .
And I need it with own "blog posts" ShortCodes, I don't need for example  "table" or "tabs" in "blog posts".

Why do you think it is needed to be a separate extension? Can you give me examples of specific settings?
- To control it like where it will be Activate?, and for developer what ShortCodes it will has?.

[2015-01-28 18:01] Lisa-Williams commented on #153
Looks like I have to swap out ```base64_encode()``` and ```base64_decode()``` then. :(
One of my own plugins to be included with the theme, exchanges binary data through an RSS/Atom/XML feed (consuming and generating) by base64 encoding it.

Better to discover this one.
Thanks!

[2015-01-28 19:11] moldcraft commented on #191
@MoBadawy Please follow [this repository](https://github.com/ThemeFuse/Unyson-Extensions-Approval) to test/review extensions before they are going to be released in order to prevent such confusions, as described in this issue

[2015-01-29 06:20] sergiubagrin commented on #153
You can use <code>base64_encode()</code> and <code>base64_decode()</code> in plugins it is not recomended to use it in themes.

[2015-01-29 08:22] sergiubagrin commented on #195
<code>
      'copyright' => array(
                            'label' => __( 'Copyright', 'fw' ),
                            'desc'  => __( 'Please enter the copyright text', 'fw' ),
                            'type'  => 'typography',
                                       'value' => array(
                                                'family' => 'Arial',

[2015-01-29 09:46] moldcraft commented on #153
No, you can't.

Yesterday I checked unyson with plugin-check and it showed me this:

so [I changed the function](https://github.com/ThemeFuse/Unyson/commit/934e1d534afb63b695c5481cb2ac0c9ac6c6d0a8) and removed `base64_encode()`

[2015-01-29 10:13] andronic90 opened #196 "can you update font awesome"
can you update font awesome  at the last version

[2015-01-29 12:31] danyj commented on #195
OK thnx for the info
You might want to add the info about components array here .
http://manual.unyson.io/en/latest/options/built-in-option-types.html#typography

[2015-01-29 13:25] thednp commented on #174
I believe it has to do with <a href="https://github.com/ThemeFuse/Unyson/issues/192#issuecomment-71787989">this comment here</a>. Perhaps devs merged shortcodes into page builder, that is my guess, or what I make of it.

[2015-01-29 15:39] danyj opened #197 "Add warning for reset button"
if reset button in theme options is clicked the values are reset to default and automatically saved.
Can we have info for the user that the button will actually save the values on click,
or change the button text from
"Reset " to "Reset and save"
or just reset options values and let the admin save them again.

I catch my self forgetting for example what the default color value is , by hitting rese

[2015-01-29 15:47] moldcraft commented on #197
@sergiubagrin There a 3 solutions:

1. Change button text to "Reset and save"
2. On "Reset" to **not** save the options
3. Change the success message from

    to something like

What should I do?

[2015-01-29 15:51] danyj commented on #197
Not sure bud , bud here is small preview of what I have in our framework. Not saying you should do this but it kinda made sense to me.
http://screencast.com/t/WDS2S6Inq5Gl

So I vote for 2 ,
Do not save on reset , flash some info that options have been reset.

[2015-01-29 15:56] moldcraft commented on #197
Ok **2.**

[2015-01-29 15:57] danyj commented on #197
:+1:

[2015-01-29 16:01] danyj opened #198 "[suggestion] Ajax save theme options"
Have you guys considered the ajax save option for theme options page?
The save and reload is kinda out of most frameworks and plugins out there.

[2015-01-29 16:45] moldcraft commented on #198
At the moment you can include this script from your theme to make the form ajax submittable

[code]

----

We will reply later if we will implement this feature or not.

[2015-01-29 16:46] danyj commented on #198
thank you!

[2015-01-29 17:42] danyj commented on #195
Can we please have the option line up correctly if one of the components has been disabled.
Currently with disabled size and color it looks like this
http://screencast.com/t/ZneKt2xhoZb
so the tooltip and the description are are both off.
otherwise it looks ok if no component has been disabled.
http://screencast.com/t/gOjGJZzP

[2015-01-29 17:44] danyj commented on #195
also on that second image the letter X in font size is not visible so all you see is
12p. Some side padding might be useful there.

[2015-01-29 21:38] danyj opened #199 "Why is there no 1/5 column?"
Is there any particular reason why you did not add
1/5 column = 5x 20% in the page builder.
I mean you have all combos there  from 1-6 but 1/5 is missing.
Is just odd to have 1/4 = 4x25  and 1/6 = 6x 16.66666666666667%   but leave 20% out.
Can we please have it?

[2015-01-29 22:17] cesasol opened #200 "Can't Activate plugin"
Using lighttpd opensuse and MariaDB as server and I am unable to activate the plugin giving me this error: " Fatal error: Call to undefined function mb_strtoupper() in /home/cesasol/public_html/wordpress/wp-content/plugins/unyson/framework/helpers/general.php on line 1026"

[2015-01-29 23:11] danyj commented on #200
You need to enable mb_strlen() in your PHP
http://stackoverflow.com/a/6419126/594423

[2015-01-30 02:39] Lisa-Williams commented on #153
@sergiubagrin
I'm already testing with ascii85/base85 now.
It's more efficient. 25% overhead instead of 33%.
According to Wikipedia it's used in Postscript and PDF.
This one: https://github.com/scottchiefbaker/php-base85
(He's also linking to a version implemented as a C PHP extension in the Readme.)
ascii85/base85 might be short-lived though, until the plugin and theme checkers catch up.

[2015-01-30 08:11] llemurya commented on #200
@danyj  thanks for your answer.

[2015-01-30 08:11] #200 closed

[2015-01-30 09:01] DimiBaitanciuc opened #201 "Text Editor in pop-ups"
Can we make the editor box a bit wider in the pop-us? something like this: http://joxi.ru/J2bXNdxT0VD8r6

[2015-01-30 09:16] sergiubagrin commented on #198
Hi @danyj,

I added it to "To DO list"

Thanks

[2015-01-30 09:21] DimiBaitanciuc opened #202 "Importing Templates"
Serghey pointed out to me this interesting feature that I think we can discuss.
Here is What he told me on skype:

[1/30/15, 11:06:20 AM] Serghei San: unfrotunatly I can't Copy-Paste to Live *(
[1/30/15, 11:07:35 AM] Serghei San: builder just puts all what I paste there in one Text Block
[1/30/15, 11:08:09 AM] Serghei San: is there anyway to paste there? may [raw] or somthing ?
[1/30/15, 11:09:58

[2015-01-30 09:22] sergiubagrin commented on #191
@MoBadawy - I will think about this

Thanks

[2015-01-30 09:28] sergiubagrin commented on #197
@danyj - Added to "To DO list"

Thanks

[2015-01-30 09:31] sergiubagrin commented on #199
@danyj - I will think about this.

[2015-01-30 10:42] moldcraft commented on #197
@sergiubagrin Already [done](https://github.com/ThemeFuse/Unyson/commit/6327f81d692171ef531e8f8621acb25f4fd0a064). Will be available in the next version.

[2015-01-30 10:45] moldcraft commented on #198
@sergiubagrin Where I can find the "To Do list" ?

[2015-01-30 10:47] moldcraft commented on #201
@DimiBaitanciuc or maybe to make it horizontally resizable?

[2015-01-30 11:20] vbarbarosh commented on #196
Updated to 4.3.0

[2015-01-30 11:20] #196 closed

[2015-01-30 11:26] vbarbarosh commented on #194
Changed.

[2015-01-30 11:26] #194 closed

[2015-01-30 11:41] danyj commented on #198
:+1:   @moldcraft next to bucket list :)

[2015-01-30 11:47] danyj commented on #202
what options did you consider for this?
Import from another page?
Import from file?

Would there be an export?
How would the export function?

[2015-01-30 11:50] danyj commented on #199
About 70 of my themes use the 5 columns layout and this would  help me tremendously and I do not have to extend the page builder backend to add something that seems like is just missing.

[2015-01-30 13:07] maiakhoa opened #203 "Help to active editor shortcodes"
Hi,

Please guide me active editor shortcodes, I updated to the latest version of plugin but can not find the Unyson button at default editor of posts

Thanks

[2015-01-30 13:11] danyj commented on #165
Here is an example of what fileslist option could do

In your demo you have background-image option
http://screencast.com/t/u7GPbvdlcmD3

This is the partial code for it ( 75 lines )
http://screencast.com/t/vmgeumvJrD

By  adding the fileslist option
it would read all images from specific folder and display them as an option.
If end user wants more or less images as an option he/she would just del

[2015-01-30 13:11] moldcraft commented on #203
Hello,
Try to reinstall the Page Builder extension.

*I think this is a bug, we will investigate in soon.*

[2015-01-30 13:16] maiakhoa commented on #203
Hi @moldcraft

Thanks so much, it's working after reinstalling Page Builder.

[2015-01-30 13:18] maiakhoa commented on #203
One more question, is it integrated with wp-editor ? Like I want to add other shortcodes in text block shortcodes.

[2015-01-30 13:41] moldcraft commented on #203
No, it's not integrated.

[2015-01-30 13:42] maiakhoa commented on #203
Thanks @moldcraft

[2015-01-30 14:21] danyj opened #204 "multi-picker select error"
Looks like multi picket select is not letting me use numeric values
only textual
I used this option
https://github.com/ThemeFuse/Scratch-Theme/blob/master/scratch-parent/framework-customizations/theme/options/demo-2.php#L893-L940

and changed the
 'phone' to 1 or '1'
'laptop' to 2   or '2'

This is what I get

error
http://screencast.com/t/F48Te77x

code
http://screencast.com/t/YUs3OTTCoqHG

[2015-01-30 16:29] thednp opened #205 "Fatal error after updating extensions"
I am getting a funny error right after the last update 30the Jan 2015

<pre>Fatal error: Declaration of FW_Extension_Contact_Forms::process_form() must be compatible with FW_Extension_Forms_Form::process_form($form_values, $data) in ..site\wp-content\plugins\unyson\framework\extensions\forms\extensions\contact-forms\class-fw-extension-contact-forms.php on line 166
</pre>

[2015-01-30 16:43] GheorgheP commented on #205
What version of contact form you have?
Please send a .zip file with your currently installed Unyson version.
There is not line 166 in the current version.
https://github.com/ThemeFuse/Unyson-Forms-Extension/blob/v2.0.0/extensions/contact-form/shortcodes/contact-form/class-fw-shortcode-contact-form.php

[2015-01-30 16:56] thednp commented on #205
Oops, too late, I already deleted the forms folder. But I think it was just the previous one. Perhaps some more users would confirm this issue.

[2015-01-30 16:58] moldcraft commented on #205
We are very sorry.

The extension name was `contact-forms`, but in v2.0.0 was renamed (by mistake) to `contact-form`. On update the directories were merged and now you have

[code]

we will fix the 2.0.0 release quick.

[2015-01-30 16:59] thednp commented on #205
I updated previous comment please check.

[2015-01-30 17:01] moldcraft commented on #205
We know about that. In some minutes we will fix it.

[2015-01-30 17:06] thednp commented on #205
Remember, if you want your framework to go mainstream, we must not allow such issue, never. I wonder if this kind of issue would interfere with custom extensions built into themes.

[2015-01-30 17:12] moldcraft commented on #205
fixed

[2015-01-30 17:12] #205 closed

[2015-01-30 17:23] moldcraft commented on #204
The fix will be available in the next framework version.

For now, to be able to continue developing, you can replaced [this file](https://github.com/ThemeFuse/Unyson/blob/4139d7ee85de7deeb75d260fe07f11b785d3494a/framework/helpers/general.php) manually.

[2015-01-30 17:27] thednp commented on #205
Alright, waiting for the update to kick in.

[2015-01-30 17:29] danyj commented on #204
Perfect. Thnx for the fix!

[2015-01-30 17:32] moldcraft commented on #205
Sorry, I forgot to mention: There will be no v2.0.1, we made changes in v2.0.0.
So reinstall the Page Builder or [install Forms](http://static.md/6d0ffb8588e4b5a38db115c78672968d.png).

[2015-01-30 17:53] moldcraft opened #206 "Page Builder disabled after extensions update"
Here is how you can test it:

1. Delete all installed extensions
* Install manually [shortcodes 1.2.7](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/releases/tag/v1.2.7)
* Install manually [page-builder 1.3.0](https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/releases/tag/v1.3.0)
* Activate the page-builder extension
* Go to updates page and update extension
* Go back to Unyson

[2015-01-30 18:31] thednp commented on #205
I uninstalled everything and reinstalled Unyson plugin with all Scratch theme required extensions, still there is no forms extension in the Unyson Extensions page, but the folder is there though.

[2015-01-30 18:32] moldcraft commented on #205
Forms extension in v2.0.0 is hidden.
It will be installed when the page-builder extension is installed.

[2015-01-30 18:53] thednp commented on #205
Just like the Shortcodes extension.

[2015-01-31 11:21] moldcraft commented on #206
To Do: After an extension was updated, it needs to disable and enable again, to enable properly new extensions and dependency changes

[2015-01-31 11:22] #195 closed

[2015-01-31 12:55] #206 closed

[2015-01-31 13:02] #171 closed

[2015-01-31 13:21] moldcraft commented on #198
@sergiubagrin @danyj

* How the user or developer will switch between standard form submit and ajax submit (a config parameter in the theme) ?
* @sergiubagrin [Design] How the save process will look, there will be some loading animation effect? How the success/error message will look?

[2015-01-31 13:33] sergiubagrin commented on #198
For theme setting it is not needed switch. Always will be used Ajax submit

We can add flash message after Theme Settings

[2015-01-31 13:37] moldcraft commented on #198
[Like this?](http://static.md/5c0a031393f6eef868b9d0d1e3a255d5.png)

[2015-01-31 13:44] danyj commented on #198
@moldcraft looks OK to me ,  if we have a popup in admin somewhere would also be nice
like http://screencast.com/t/kqM9MIxfzv1D

[2015-01-31 13:45] sergiubagrin commented on #198
Yes but after Page Title (Theme Settings): http://screencast.com/t/hflK0DRr3Tn

[2015-01-31 13:46] danyj commented on #198
What ever you opt for please add a progress bar or preloader,
progress example http://screencast.com/t/UsbwTXMW2

[2015-01-31 13:49] danyj commented on #198
@sergiubagrin ,  you have only few options there ,
if user has half of the options you have in scratch demo he wont see the msg
example http://screencast.com/t/DPJLz5h1I1
so somewhere next above or under save button is better

[2015-01-31 13:51] moldcraft commented on #198
In your screenshot the page is very small (2 options) switch to Demo Options tab, go down and press "Save", [the user won't see the message](http://static.md/b55aac299ffbeaf5795b0ee9aeedb43d.png) under title. So I think there should be a message centered on the screen (like in themefuse old framework).

[2015-01-31 14:03] moldcraft commented on #204
[v2.1.19](https://github.com/ThemeFuse/Unyson/releases/tag/v2.1.19) released

[2015-01-31 14:03] #204 closed

[2015-01-31 14:04] moldcraft commented on #203
[v2.1.19](https://github.com/ThemeFuse/Unyson/releases/tag/v2.1.19) released

[2015-01-31 14:04] moldcraft commented on #197
[v2.1.19](https://github.com/ThemeFuse/Unyson/releases/tag/v2.1.19) released

[2015-01-31 15:10] danyj commented on #197
Does not seem like this made it to 2.1.19 ,  my reset button is still saving the options.
Am I missing something?

[2015-01-31 15:42] moldcraft commented on #198
@danyj How the "Reset" button will work: It will replace the form html from javascript or do a page refresh?

[2015-01-31 15:47] moldcraft opened #207 "Theme Settings Reset deletes all builder templates"
After pressing [the Reset button](http://static.md/7208e2beda32ac0396733dbcf5df9087.png) all builder templates [disappear](http://static.md/8948026668df17cab7779a698894edf8.png) because they are stored in [the same database option](https://github.com/ThemeFuse/Unyson-Builder-Extension/blob/0d3cfde1069ab38222c5c55c7c80faf5881d7127/includes/option-types/builder/includes/template-saving.php#L15)

[2015-01-31 15:53] danyj commented on #198
@moldcraft didn't we cover reset button here
https://github.com/ThemeFuse/Unyson/issues/197#issuecomment-72047778
reset should just reset form values to its defaults , no page reload, no saving
add msg that values have been reset aka " Options have been reset. Please hit save button to save them"

[2015-01-31 16:00] moldcraft commented on #198
The defaults are on the server.
I have to make an ajax to:
1. Delete (reset) all database values
* Generate form html with default values
* Show it in the browser

ok, I will replace the form html from javascript.

[2015-01-31 16:14] danyj commented on #198
I managed that  "issue" on our framework with js array of default values that are always loaded in admin backend . http://screencast.com/t/Hfz5gCRxvt
And on reset the form just gets that array and puts the values back .
But I had xml defaults that I was able to read and pull out default values.
Not sure how you will get the defaults for unyson.

[2015-01-31 16:18] danyj commented on #207
:+1: nice find , I was about to report it. My reset was emptying that array.

[2015-01-31 16:30] moldcraft commented on #198
All your (json) values seems simple.
We have some complicated options (for e.g. addable popup, addable box) that can't be reset from js.
The only solution is to render their html on the server side (this is how our [options modal](https://github.com/ThemeFuse/Unyson/blob/35c9078d77bb3c0fb5e95a925d0fd86eddca0c11/framework/static/js/fw.js#L510) works).

[2015-01-31 16:43] moldcraft commented on #197
Option values are stored in the database in `fw_theme_settings_options:{theme-id}` wp_option.
You can see that after pressing the Reset button, its value becomes an empty array.

Maybe you can share a screencast for more details?

[2015-01-31 16:46] danyj commented on #198
I see what you mean. I had my complex values managed trough js templating. Basically made the option frame in js,  and on reset I get the option name from that json, see what type of form element it was and  call that option template in to view, so is easier for me to put them back the way they were.

[2015-01-31 16:50] danyj commented on #197
Here ,
http://screencast.com/t/1kHrFBmSDpm7
Admin bar is by default enabled,
I disabled the admin bar in frontend and save the options
Hit reset and admin bar is back.

[2015-01-31 16:55] moldcraft commented on #197
After reset the value is "No"=="Don't disable the admin bar". Everything is correct.
Or I am missing something?

[2015-01-31 16:57] danyj commented on #197
Yes but it should not auto save it as we discussed previously.
Check the video again , I did not hit save after the reset, it saved it automatically

[2015-01-31 17:05] moldcraft commented on #197
It doesn't save, [it loads default values from the settings options array if no values was found in the database](https://github.com/ThemeFuse/Unyson/blob/af0f72ad19d22eb0b9a3de452b6444d4d0da106a/framework/helpers/database.php#L22-L48).

[2015-01-31 18:34] danyj commented on #197
maybe we have terminology misunderstanding here
load/reset ends up being same as save since I have option default loaded/saved
without me hitting save button.

This is my option output

$styles = fw_get_db_settings_option('get_styles');
echo $styles['gadget'];

echos red in this video
http://screencast.com/t/R05jbvVm

My understand is that reset button click will not affect frontend output unless

[2015-02-01 02:12] nenadmk opened #208 "Missing general theme options page"
First of all thanks for creating this framework. It's unbelievably easy to work in. I am loving it. Now, I am building a professional theme and I can't use separate folder for framework customizations. So I've copied everything from the /framework-customizations folder into the /framework folder and removed the customizations one. Now everything works the same without problems except that I've jus

[2015-02-01 07:05] levan1993 commented on #208
Unyson works with framework-customizations folder. so you can't move files from this folder, because Unyson will search this files in framework-customizations folder, in case of general theme options page it will search for  framework-customizations/theme/options/settings.php file, if it doesn't exists page won't be created.

[2015-02-01 09:28] sergiubagrin commented on #208
Hi @nenadmk

Unyson works with framework-customizations folder. Scratch theme is a good example how to use it. Download it from GitHub: https://github.com/ThemeFuse/Scratch-Theme

In case you want to rename this folder we need to think about this. Can you give me more detaiuls why you need to rename it?

Thanks

[2015-02-01 11:05] moldcraft commented on #197
For most developers it's very convenient that the default value is extracted from the settings options when no value is found in the database. That way you don't bother to specify `$default_value` and keep it manually in sync with the default `'value' => '...'` from the option array. https://github.com/ThemeFuse/Unyson/issues/11#issuecomment-56789779

The only convenience I see (and I thought this

[2015-02-01 12:23] danyj commented on #197
Again misunderstanding.
All I expect is the options not to be saved without me hitting the save button.
Everything else is correct and how it should be.

I dont expect $styles['gadget']  to be empty , I expect it to be as is now but

the frontend should not be changed at all unless I have saved the options and not when I hit reset.

I displayed here what I expect reset button to do
http://screenca

[2015-02-01 12:37] danyj commented on #208
I dont see this as a bad request. Every dev wants to be unique in some way no matter if he/she uses someone else's framework. This would give the dev kinda "white label" option and it would be cool to name the folder

admin
cooltheme-options

etc.

Consider this . You start with underscore theme and there you already have inc folder,
it would be cool if I can just add unyson options inside that fo

[2015-02-01 12:43] moldcraft commented on #208
@danyj It will look unique, but when the user will ask us something or will read the unyson docs, there everything is explained with `framework-customizations/`, and this will be confusing.

[2015-02-01 12:45] danyj commented on #208
I think dev should be responsible for the support of it's own theme.
And if you add in docs that folder for the theme option is changeable I doubt anyone would have an issue with it.

[2015-02-01 12:46] danyj commented on #208
And if you add an article to your docs
How to add unyson to your theme?
With clear instructions it would be a win win.

[2015-02-01 13:26] moldcraft commented on #197
I think it's simpler and more intuitive how it works now (with save), the user just hits the Reset button.

Without save, we must show/teach the user that after Reset he needs to press the Save button.
For e.g. a message somewhere "The form was reset. Now you can press Save...". (Also the user has to do 2 actions now).

I understand that you are trying to create the same behavior as in Yjsg settin

[2015-02-01 13:43] danyj commented on #197
Not sure bud honestly. The "not saving" , gives me the upper hand to see what the default was before it is saved.

If you have any color option set to, let say #e2a140
than you change it to fafafa
you will not know what default was and you have to dig to find it. Reset only will show you what it was before you save.

Or check this
http://screencast.com/t/h7VGpTCXh2

Imagine 50 patterns and 50 imag

[2015-02-01 13:57] nenadmk commented on #208
I have actually no problems renaming the framework customizations folder. It looks like all I need to do is change the path in 4 functions into the /framework/bootstrap-helpers.php file. I needed that folder to be gone completely. But since that is not possible I guess I'll have to live with it.

One last question. Why the /theme/options folder exists then in the main framework directory when it d

[2015-02-01 14:01] moldcraft commented on #208
[Where?](https://github.com/ThemeFuse/Unyson/tree/master/framework)

[2015-02-01 14:05] nenadmk commented on #208
Ah sorry. It looks like it doesn't exist in the original. :) I must have added it myself when I've copied everything from the customizations folder.

[2015-02-01 14:05] #208 closed

[2015-02-01 17:32] moldcraft commented on #197
We will do it like avada did http://screencast.com/t/33y5hCybXpr

[2015-02-01 21:03] danyj opened #209 "Frontend options examples"
Can we have some examples on how to access options or builder options in frontend.

For example I see that
fw_get_db_settings_option('get_styles') is an array

[code]

and I need to get current style and its link color so Is this ok

[code]

I am getting the wanted result ,

 or should we use something along these lines

`fw_get_db_settings_option('get_styles/gadget')`... ?  what next?
I am sure y

[2015-02-01 23:24] moldcraft commented on #209
Nothing special, we just use often the [fw_akg()]( http://manual.unyson.io/en/latest/helpers/php.html#fw-akg) function.

*(incomplete response)*

[2015-02-02 08:16] duongancol opened #210 "Slider option in addable box"
Hi!
I did create addable-box for custom post type.
Everything fine with text, select,.. except **slider**.
I added slider to addable-box , it only showed title, description, help.
Check my screenshot here: http://i.imgur.com/icUFxAg.png
Thanks!

[2015-02-02 10:07] duongancol commented on #210
I tried to create slider option without addable-box in custom post type,
It's also hidden.

[2015-02-02 11:45] valeriuzdrobau commented on #210
Try to clean the cache, and please tell me what version of framework and in which browser you have tested.

[2015-02-02 12:04] duongancol commented on #210
I use the latest version of Chrome, wordpress 4.1, and Unyson 2.1.9

[2015-02-02 12:14] moldcraft commented on #210
@duongancol I can't reproduce this. Everything works fine on my side.
Can you give us your options array?

[2015-02-02 12:28] #210 closed

[2015-02-02 12:29] valeriuzdrobau commented on #210
Thank you for your cooperation.

[2015-02-02 12:40] valeriuzdrobau commented on #115
Due to inactivity I close this issue. Feel free to reopen it at any time.

[2015-02-02 12:40] #115 closed

[2015-02-02 12:42] valeriuzdrobau commented on #81
Due to inactivity I close this issue. Feel free to reopen it at any time.

[2015-02-02 12:42] #81 closed

[2015-02-02 13:23] moldcraft commented on #209
The `json_decode` is wrong approach for shortcodes.

Overwrite the [section shortcode view](https://github.com/ThemeFuse/Unyson-Shortcodes-Extension/blob/master/shortcodes/section/views/view.php#L21) in your theme. In `$atts` are all shortcode options that appear in popup when you edit the shortcode.

[2015-02-02 13:28] danyj opened #211 "image-picker width limit"
Can we please get the max width set for this option like you have for background option
http://screencast.com/t/CFtAgo0J2S

Currently it looks like this
http://screencast.com/t/IcGT74I6

[2015-02-02 13:31] danyj commented on #209
I did not mean that, not trying to change section output but rather get info if section on a page is
full or boxed in order to adjust the area outside the section which is not a builder.

Example
page_container class has max width of 1200px
<div class ="page_container">
<section .....
</div>

if section on that page has full width I would do this

<div class ="page_container_full">

but all in all

[2015-02-02 14:15] moldcraft commented on #211
[code]

[2015-02-02 14:15] #211 closed

[2015-02-02 14:17] danyj commented on #211
thank you!

[2015-02-02 14:21] duongancol commented on #210
Great!, thank for your great framework.

[2015-02-02 14:24] danyj opened #212 "How to add additional font-family to typography option?"
How can we add additional font-family to this  option?
https://github.com/ThemeFuse/Unyson/blob/master/framework/includes/option-types/typography/class-fw-option-type-typography.php#L22

I am trying to do font-family combos like
"Helvetica Neue", Helvetica, Arial, sans-serif

note: you have a typo here ,
https://github.com/ThemeFuse/Unyson/blob/master/framework/includes/option-types/typography/cla

[2015-02-02 14:54] GheorgheP commented on #193
https://github.com/ThemeFuse/Unyson-PageBuilder-Extension/commit/e8dcee5fbf74fc540419b5725d28da84ff394358

[2015-02-02 14:54] #193 closed

[2015-02-02 15:41] #212 closed

[2015-02-02 15:50] valeriuzdrobau commented on #212
I added the filter 'fw_option_type_typography_standard_fonts', now you can add standard fonts in the following way: ```php <?php function your_theme_slug_push_typography_standard_fonts( $fonts ) {
	array_push( $fonts, "'Helvetica Neue', Helvetica, Arial, sans-serif" );
	return $fonts;
}
add_filter( 'fw_option_type_typography_standard_fonts', 'your_theme_slug_push_typography_standard_fonts' );  ```

[2015-02-02 16:00] danyj commented on #212
:+1: great , can I completely rebuild the standards array or only add?

[2015-02-02 16:01] moldcraft commented on #212
you can rebuild

[2015-02-02 17:42] danyj opened #213 "Sidebar list on pages and posts"
Is there any way possible to have unyson sidebars list on pages and post edit view
something like this http://screencast.com/t/oJD1EsTsuB
I know that we can extend pages and posts and add custom options that are displayed under the editor
but I am talking about that side option and list of sidebar + dynamicaly created ones via unyson sidebar extension.

[2015-02-02 18:46] moldcraft commented on #213
You can add boxes on the side using [`context` parameter](http://manual.unyson.io/en/latest/options/containers.html#box-parameters-in-post-options).

[code]

I will come back later with a reply for this.

[2015-02-02 18:49] moldcraft commented on #213
You want a select with all sidebars to choose a sidebar for post, and also to be able to create/manage sidebars right there, without going to `/wp-admin/widgets.php` ?

[2015-02-02 18:52] MoBadawy commented on #213
https://github.com/ThemeFuse/Unyson-Sidebars-Extension/issues/1

[2015-02-02 20:26] danyj commented on #213
@moldcraft  yes, that is what I mean. If we already copy the best with builder and options than let us add that in also. Pick 5 top wp themes on TF, they all have that option in.

[2015-02-02 21:02] danyj opened #214 "[suggestion] Manage sidebar style suggestion"
Not sure if you are up for it but for me something like this kinda fits better
http://screencast.com/t/b99vFBQ0
than this
http://screencast.com/t/Bth0vSvn

[code]

What do you think?

[2015-02-02 23:14] 2Fwebd opened #215 "Extensions installation impossible (no release, 403)"
Hello,

I got some customers who can't not use my theme because they can't install the page builder extension...And all the others btw :
http://ticksy_attachments.s3.amazonaws.com/6906860160.png
http://ticksy_attachments.s3.amazonaws.com/7785854718.png

1) Do you have any idea from where it is from ? Seems new, from the latest releases in my mind ...
2) Do I have to edit anything in the theme file

[2015-02-02 23:48] moldcraft commented on #215
The api seems to work fine. The Shortcodes extension [has releases](http://github-api-cache.unyson.io/repos/themefuse/unyson-shortcodes-extension/releases) and [megamenu](http://github-api-cache.unyson.io/repos/themefuse/unyson-megamenu-extension/releases) too.

Try add to debug [`fw_print($response)`](https://github.com/ThemeFuse/Unyson/blob/master/framework/core/components/extensions/manager/cla

[2015-02-03 07:11] 2Fwebd commented on #215
Thank you @moldcraft for the fast reply !  Well yes and it works on my own server too so it's really weird. I can send you private access (to the customer Wordpress) by message if you want to see it. You can click on any extension and there is the box : ...has no releases.
Where do I past the fw_print function please ? I tried many places and I see no difference.
Thanks ! ;)

[2015-02-03 07:21] moldcraft commented on #215
You can send me a message to unyson[at]email.com

[2015-02-03 07:27] 2Fwebd commented on #215
Done ;) Thanks

[2015-02-03 08:39] GheorgheP opened #216 "Single choice option type inline inputs"
The ability on the single choice option type to display the radio items in row: http://joxi.ru/52aeNWXHE0WY20

[2015-02-03 09:05] pe6o commented on #215
When this is fixed, please write what caused the issue. Just want to know in case it suddenly appears on some of my clients, thanks!

[2015-02-03 09:48] moldcraft commented on #215
How to debug `The "Abc" extension ... has no releases.` or `Cannot access repository ... (Error code 403)`:

1. Add `fw_print($response)` on [this line](https://github.com/ThemeFuse/Unyson/blob/1f78a1dc5074671474d23e77921ace28ee5bbdee/framework/core/components/extensions/manager/class--fw-extensions-manager.php#L1729)
2. Open `/wp-admin/admin.php?page=fw-extensions&sub-page=install&extension=page-

[2015-02-03 11:14] DimiBaitanciuc opened #217 "PNG image preview"
We have this case in the theme we are working on:

We have this png image as a bg in a column - http://joxi.ru/12Mx7ygClK8WmJ and because it's white and also has some opacity set, in the image upload preview I see this: http://joxi.ru/82Q4pJjTwd8Pmd

We'll need to find a solution to display a gray bg there or something for png images. Look how WordPress handles this: http://joxi.ru/v29ydbRiZYjy2G

[2015-02-03 11:14] danyj commented on #215
@moldcraft suggestion , add a debug that we can turn on to troubleshoot unyson instead of going trough plugin files and printing the requests.

[2015-02-03 12:02] moldcraft commented on #217
@DimiBaitanciuc maybe something like this?

![ss](http://static.md/d66d6a9024e4d4828f8d84fedcc4bc4e.png)

[code]

[2015-02-03 12:29] moldcraft commented on #216
Added `inline` parameter

[code]

[2015-02-03 12:29] #216 closed

[2015-02-03 12:43] moldcraft commented on #197
Added confirm alert in [v2.1.20](https://github.com/ThemeFuse/Unyson/releases/tag/v2.1.20)

[2015-02-03 12:43] #197 closed

[2015-02-03 18:31] moldcraft commented on #215
@danyj If this will happen often, I will do something like that.

[2015-02-03 18:31] #215 closed

[2015-02-04 07:28] sergiubagrin opened #218 "Only two “main” variations I don’t see ..."
Oh good God goodie gumdrops!

You’re interactive header demos are fantastic! Only two “main” variations I don’t see, are (1) being able to add the social icon on the same line/area as the main menu, and (2) shrinking logo / menu option when scrolling (similar to Enfold)

Keep up the GREAT work guys! And at such an INCREDIBLE speed!!

http://themeforest.net/forums/thread/meet-unyson-the-free-drag-d

[2015-02-04 07:41] sergiubagrin opened #219 "Plugin Update fail"
When plugin update fail after this i can't find it in plugin list. Each time i want to install it again i receive "Destination folder exist"

[2015-02-04 11:11] bkramsay opened #220 "Cannot activate hidden standalone extension Shortcodes"
I have installed the Unyson plugin but whenever I try to install an extension through the Unyson panel, I get

Cannot activate hidden standalone extension Shortcodes

any help much appreaciated

[2015-02-04 11:24] bkramsay commented on #220
I also get
Fatal error: Class 'FW_Option_Type_Builder' not found in ...wordpress\wp-content\plugins\unyson\framework\extensions\forms\includes\option-types\form-builder\class-fw-option-type-form-builder.php on line 8

when installing the form plugin

[2015-02-04 11:57] moldcraft commented on #220
Sorry, the Forms extension must be hidden. Please update to unyson 2.1.21, we fixed that (made it hidden).

This happens with any extension?

[2015-02-04 13:40] bkramsay commented on #220
hi, I updated to 2.1.21 and re-installed Page Builder and get

Warning: require(C:\Users\bkram_000\Dropbox (CI)\Websites\htdocs\colordarcy\wordpress\wp-content\plugins\unyson\framework\extensions\shortcodes\extensions\page-builder\includes\fw-option-type-page-builder\includes\items-corrector/class-page-builder-items-corrector-row-container.php): failed to open stream: Invalid argument in ...\htdoc

[2015-02-04 13:57] bkramsay commented on #220
Okay I have fixed that
The problem was the length of the file names on windows machine.

I have shortened the folder names of my installation but probably worth looking at.

Thank you for your help

[2015-02-04 14:03] bkramsay commented on #220
Still get
"Cannot activate hidden standalone extension Contact Forms"
once page builder installed

[2015-02-04 14:18] moldcraft commented on #220
Maybe you can find a way to increase the file length limit?

[2015-02-04 17:47] danyj opened #221 "Props for the team"
Not an issue but just HUGE props from my side.
The more I dig in it the more I like it.
I just hope you keep it up like this. Excellent work!
:100:

[2015-02-04 17:53] 2Fwebd commented on #215
Hello @moldcraft,

Thank you for your help and the explanations. You're right ! Both of my clients send messages to their hosts. For one, they allowed the URL and everything works perfectly. But for the other one :

I don't know how to fix this issue...I agree it is really rare. But anyways, I'm looking for a way to **install manually the page builder and the shortcode extensions (directly in the

[2015-02-04 18:04] moldcraft commented on #215
Hello @2Fwebd

What is actually not working? The hosting doesn't want to allow requests to `http://github-api-cache.unyson.io/` *(More details please)*

Sure, you can copy the extensions from the framework to your theme, `unyson/framework/extensions/{extension}` to `{theme}/framework-customizations/extensions/{extension}` *(not tested, but theoretically it should work)*, but your theme won't pass

[2015-02-04 18:09] moldcraft commented on #221
Thank you very much :sparkles:

[2015-02-04 19:01] danyj commented on #215
I researched this yesterday and both of your clients have not setup the squid correctly ( or their host did not )
http://ubuntuforums.org/showthread.php?t=1946358
by default squid allows connection to itself only

https://wiki.archlinux.org/index.php/Squid#Configuration

see http_access  directives

[2015-02-04 19:04] danyj commented on #215
@moldcraft what do you think about install extension pack option (aka: upload extenson zip ) ?

[2015-02-04 19:06] moldcraft commented on #215
I think they configured it to allow requests only to trusted sites. Maybe to `wordpress.org` only (if it's a hosting packet exclusively for wordpress) Because they installed somehow Unyson, I don't think they installed it via zip upload.

[2015-02-04 19:10] danyj commented on #215
@moldcraft ok am I missing something here or "install" only downloads the extension master and unzips them to unyson/extensions ?
@2Fwebd if this is the case than just pack all the extensions from unyson/extensions  folder and FTP to your client site.

[2015-02-04 19:17] danyj commented on #215
I just downloaded
https://github.com/ThemeFuse/Unyson-Breadcrumbs-Extension/archive/master.zip
extracted to breadcrumbs ,  FTP the folder to  unyson/extensions and works perfect
http://screencast.com/t/8b2RkAgtpW

[2015-02-04 19:17] moldcraft commented on #215
If the extension has no parent extension, then to `unyson/extensions`.
If it does, the parent extensions chain is resolved from [this array](https://github.com/ThemeFuse/Unyson/blob/87afbdf78c5c382018c3702095ff4b3f99397f07/framework/core/components/extensions/manager/available-extensions.php#L83) and first are installed (or checked if installed) parent extensions, the the extension is installed in

[2015-02-04 19:19] danyj commented on #215
ok, so @2Fwebd can pack unyson plugin from his demo with all bells and whistles  and FTP to client site for temp workaround

[2015-02-04 19:21] moldcraft commented on #215
@danyj sure

[2015-02-04 20:09] 2Fwebd commented on #215
Thank you @danyj and @moldcraft for all the help here !!!

So :

* In fact it seems that this is the servers not based on Linux which cause the issue
* I didn't thought to send directly the plugin files and it seems perfect for me :) **I'll do that and keep you informed**
* However when I try to install the extensions directly from the /framework-customizations/extensions/ you're right it only wor

[2015-02-04 20:10] 2Fwebd commented on #221
You guys are wonderful and very skilled !! Well done !!! :+1:  :+1:  :+1:

[2015-02-04 20:20] danyj opened #222 "Shouldn't this be yellow sidebar ?"
If this is blue
http://screencast.com/t/wW7VS86nUD8j
And this is
http://screencast.com/t/XAw8OJHdw
blue - yellow

than shouldn't this be yellow
http://screencast.com/t/tt617SDNgx7

with current setup I end-up not having the sidebar because I am expecting the right one

	<?php if ($current_position == 'right' || $current_position == 'left_content_right'): ?>
	<div id="rightblock" class="sidebars">

[2015-02-04 20:20] moldcraft commented on #215
Some extensions requires other extensions, and those extensions requires other extensions etc. ( @2Fwebd mentioned that in the previous comment ) so installing them manually (one by one) will be tedious.

I hope this problem with hosting restricting requests will not happen that often to force us to implement that upload feature.

[2015-02-04 21:08] danyj commented on #191
Same thing here , I was hoping  to find ad least the shortcodes snippet like
this
http://screencast.com/t/HIXnQ3AOxVH
for  testimonial or accordion to add to widget area or blog post but no go.

[2015-02-05 02:31] duongancol commented on #191
I agree with @MoBadawy.
Some users only need shortcode in page like a shortcode picker. They don't need to use page builder.

[2015-02-05 13:28] sr-source opened #223 "how to configure reserbation form in welcomeinn template ?"
After moving my templaete to other server reservation form doesn't work. Please tell me where i can configure it.

[2015-02-05 13:36] ziuzea87 commented on #223
Hi,

all questions related the our themes need to be asked via our website or send an email to support[at]themefuse.com. Here can be asked questions only related to Unyson framework which doesn't have anything to do with with welcome inn theme.

Cheers,
Max.

[2015-02-05 13:37] #223 closed

[2015-02-05 13:42] danyj commented on #222
do you guys mind labeling this so that I could know if it is going to be worked on. thank you.

[2015-02-05 14:48] dobromir-hristov opened #224 "url-picker functionality"
Hello. I was lurking around the framework today and I noticed there wasnt an easy way to get links.
So i started with a simple Multi-Picker and before I continue with getting the actual data (the posts and stuff) is there something already made? I dont want to reinvent the wheel. Here is what I got so far:
[code]
I can make a few queries and get the pages dynamically or is my approach totally wron

[2015-02-05 15:51] moldcraft commented on #224
We haven't done anything like that.

It will be fine. But it will be better if you will create a new option type and make the queries in the `_render()` method, so the queries will be made only on option display but not every time the options array will be accessed (which may be on every refresh).

Here is your array defined as option type:

*I am assuming that your theme uses [theme includes](htt

[2015-02-05 21:33] danyj commented on #222
@sergiubagrin frate! Help me on this one :)

[2015-02-06 00:00] sergiubagrin commented on #222
@danyj

When we started with sidebars extension we decided that all pages in the same project will include the same number of sidebars Ex: 0, 1, 2, 3, 4.

I will explain a project with 2 sidebars (Left & Right):
We can create 5 types of pages when we have 2 sidebars:

1. 0 sidebars: Full Width Page
2. 1 sidebar: Page with Left or Right Sidebar
3. 2 sidebars: Page with Left and Right Sidebar

HTML

[2015-02-06 00:13] sergiubagrin commented on #222
@danyj

When we started with sidebars extension we decided that all pages in the same project will include the same number of sidebars Ex: 0, 1, 2, 3, 4.

I will explain a project with 2 sidebars (Left & Right):
We can create 4 types of pages when we have 2 sidebars:

1. 0 sidebars: Full Width Page
2. 1 sidebar: Page with Left or Right Sidebar
3. 2 sidebars: Page with Left and Right Sidebar

HTML

[2015-02-06 00:21] sergiubagrin commented on #214
@danyj

I will analyse it. I will invite Unyson designer on github.

[2015-02-06 00:25] danyj commented on #222
Maybe I do not see the logic here but to me your HTML 1  second code example should be

<div class="content">CONTENT</div>
<div class="blue-sidebar">YELLOW SIDEBAR</div>

You are calling them left and right yet in your code no matter if you have the condition for left or right you are  calling blue every time.

When you call them both  you have

left - content - right
OR
yellow - content - blue

b

[2015-02-06 01:24] sergiubagrin commented on #222
If i have a project with 1 sidebar this sidebar will be BLUE. Second sidebar on the same page will be Yellow. Color means sidebar number not position. Developer will decide where sidebar will be displayed.

Examples: http://screencast.com/t/qu5hxYMJxe
Page example: http://screencast.com/t/WaFCc510

In next scratch theme we will exclude names like left, right

[2015-02-06 02:24] duongancol opened #225 "Time Slider Option"
I want to custom slider option like this: http://i.imgur.com/rsOMHsR.png
But when I followed instruction on IonRangeSlider site it showed number instead of value of array(http://i.imgur.com/TpZSrhA.png)
My custom code here:
  `'pre_hour' => array(
                     'type'  => 'slider',
                         'properties' => array(
                         'type' => 'double',

[2015-02-06 04:23] pr0fess0r opened #226 "How to bulk update posts or update via external script"
Hey guys

I'm working with a theme built based on Unyson. It's a vehicle trading site that uses WP All Import to bring in vehicles via XML. Editing individual vehicles (posts with a type of vehicle) and clicking Update will push the vehicle to the front end of the theme and populate a table called tf_autotrader_seek_index_posts
However with a number of vehicles being imported, this isn't practical

[2015-02-06 11:45] DimiBaitanciuc opened #227 "Unyson Icon Font"
We have the font icon ready to be integrated in Unyson. I am thinking we'll include it in the options like this: http://joxi.ru/Dr89WzaHojq3m6 (sorry for FA, but we'll need to place our 1600+ icons option first :P)

Consider this:
- developers will get full access to use them in their themes (they will be separated on 26 categories)
- we'll use this icons to replace the shortcodes images and make

[2015-02-06 11:51] danyj commented on #227
@DimiBaitanciuc  Are you saying that FA will be out?

[2015-02-06 12:01] #224 closed

[2015-02-06 12:06] DimiBaitanciuc commented on #227
No of course not, I've said "we'll need to place" our option first, place it as in position it first in the option list. I meant it as a joke ... :)

[2015-02-06 12:09] danyj commented on #227
ah ok , I saw  > sorry for FA  so kinda looked like is going out

[2015-02-06 12:16] icypixels opened #228 "How to: Add more options to "Add Slide" screen"
Hey, I also have a question, which it seems I can’t find the solution to so therefore I’m going to ask you guys :)

If I would want to add more Options to the “Add Slides” screen, aside from the Image, Title and Description, how would I go around this (Screenshot with screen I’m referring to: https://www.dropbox.com/s/nekxjafp2vpdolh/Screenshot%202015-02-06%2012.31.01.png?dl=0)

Would I have to ex

[2015-02-06 12:28] danyj commented on #222
that is exactly what is trowing me off ,
you color coded the number of sidebars
full = 0 sidebars
blue = 1 sidebar
yellow = 2 sidebars
and so on  but diagram looks like sidebars  left and right layout  and says Choose the position for your sidebar(s)  not choose number of sidebars.

So I am lost now as I am sure users would be also.
Not sure if I should use your sidebar
http://screencast.com/t/oi4

[2015-02-06 12:39] danyj commented on #222
And now if I dont use your sidebar_positions array and add 2 or 3 more sidebars http://screencast.com/t/6kMnh0mnM
this adds more to the confusion and the sidebar extension becomes a burden rather than solution.

[2015-02-06 12:39] moldcraft commented on #228
Have you tried [this solution](http://manual.unyson.io/en/latest/extension/slider/index.html#options) *(To create `framework-customizations/extensions/slider/extensions/{slider-type}/options.php`)* ?

[2015-02-06 12:56] llemurya commented on #228
You must follow the instruction from this [picture](http://static.md/905ce01947ccfd2e38e6a94382bfef26#) and you will see the next [result](http://static.md/e0d479d1adfe926473aac8a49b75c5df#) . Hope this will resolve your problem.

[2015-02-06 13:08] icypixels commented on #228
Well, I think we're not using the same environment. So here's a little context:
Local Dev, WP 4.1, Unyson as a plugin.

I get the following error when creating the "slider" folder, let alone anything more than that:

<code>Fatal error: Extension "slider" is already defined in "E:\Dropbox\Development\xampp-portable\htdocs\wp-content\plugins\unyson\framework/extensions/media/extensions/slider" found

[2015-02-06 13:12] #228 closed

[2015-02-06 13:18] valeriuzdrobau commented on #225
We made a few [changes](https://github.com/ThemeFuse/Unyson/commit/731ff26cd2fbf0ea0a3c5ad820239107b31fa39c) and it is now possible to do what you wanted you, but be aware that we have two options ['slider'](http://manual.unyson.io/en/latest/options/built-in-option-types.html#slider) for single and[ 'range-slider'](http://manual.unyson.io/en/latest/options/built-in-option-types.html#range-slider)

[2015-02-06 13:19] moldcraft commented on #228
Cu plăcere ;)

[2015-02-06 13:19] DimiBaitanciuc commented on #214
Sure, we'll look it over. Don't think it will be a priority though.

[2015-02-06 13:20] icypixels commented on #228
Totusi, ramane problema cu redeclararea folder-ului slider in interiorul temei :)

[2015-02-06 13:30] moldcraft commented on #228
Nu puteți rescrie întreaga extensie în `framework-customizations/`, doar unele fișiere. Deci nu copiați din plugin tot folderul, dar creați un folder gol `framework-customizations/extensions/media/extensions/slider/extensions/{slider-type}` și deja în el puteți crea de exemplu `options/options.php` pentru a adăuga niște opțiuni suplimentare pentru slider (sau alte fișiere descrise în documentație)

[2015-02-06 13:32] icypixels commented on #228
Mersi mult, acum am priceput :) Va salut si spor sa aveti!

[2015-02-06 14:17] duongancol commented on #225
Thank you!
Actually I want a slider for timeline like : http://i.imgur.com/qJba5tY.png
And I know it's really difficult to customize slider option like this. But it's ok now.
I hope that you'll create a slider option for timeline, maybe other users'll need it like me.

[2015-02-06 15:21] dobromir-hristov commented on #224
I did it :) Thank you very much for your answer. I have to confess its not the best, but it works :)
I will post it on monday when I get a chance to refine it a bit, for others like me, who need a Url Picker.

[2015-02-06 15:24] moldcraft commented on #224
You are welcome

[2015-02-06 19:14] #222 closed

[2015-02-06 22:19] DimiBaitanciuc opened #229 "Extensions Titles"
Something changed here, the extension titles are too big: http://joxi.ru/p27E6pZiK9VNr7
The titles need to be 18px.

[2015-02-06 22:41] danyj commented on #229
you sure you did not ++ the browser?
http://screencast.com/t/PaFcLoeT0Am
looks fine to me

[2015-02-07 14:38] danyj commented on #197
Can we please revisit this one for a sec. Either I did not setup the option correctly or the reset button now empties the options array completely
https://github.com/ThemeFuse/Unyson/commit/6327f81d692171ef531e8f8621acb25f4fd0a064#diff-8e628e2362d97faf414c064ad2478754R890

instead of setting them back to defaults.

See this please
http://screencast.com/t/noWnCpbN

array print was this

    fw_get_

[2015-02-07 15:01] moldcraft commented on #197
There is no need to set the values in the database, the defaults are read from the settings options array if nothing is set in the database.

Sorry, that is a bug in the `fw_get_db_settings_option()` function:

* `fw_print(fw_get_db_settings_option('get_styles'))` shows the right default value from the settings options
* `fw_print(fw_get_db_settings_option())` shows the empty array from the databa

[2015-02-07 15:03] danyj commented on #197
yes  I figured that one just now thus I deleted my post. the actual option is there but the array of options is empty. thnx for replying.

[2015-02-09 00:01] aleksandar-p opened #230 "Nested columns"
Is it possible to create a shortcode for nested columns or perhaps override the existing column shortcode to accept nesting?

[2015-02-09 08:54] dobromir-hristov commented on #224
Sorry to bring this back up, but saving of the option type is not working. I didnt check if it was saving the values until today when I started to implement it in the view of the extension I created it for.
Here is the complete code for the option type. If you have any suggestions I`m open.
[code]

[2015-02-09 09:03] moldcraft commented on #224
Sorry, my mistake

Like in the `_render()` method you have to send `multi-picker` array structure to the `multi-picker` option type. Change the `_get_value_from_input()` method to:

[code]

[2015-02-09 09:14] dobromir-hristov commented on #224
Ok thank you for the reply.
I changed the get_value_from_input and now i got
`parsererror: JSON.parse: unexpected character at line 1 column 1 of the JSON data`
Console returns:
[code]

[2015-02-09 09:25] moldcraft commented on #224
On my side [everything works fine](http://static.md/d418ba64e5c4785cf430f8a938c161be.gif).
Please give me a step-by-step instruction how to reproduce your error.

[2015-02-09 09:31] dobromir-hristov commented on #224
I just created a popup and inside I have an Icon Chooser, a Text field for Title and that URL Picker option I created.
[code]
I do the same as you do on the gif you sent, but it gives me the error. Are there any updates I should do on the framework?

[2015-02-09 09:39] moldcraft commented on #224
[code]

[2015-02-09 09:56] dobromir-hristov commented on #224
Great, my mistake yes. I totally did not see that. Saving works, but now when i check what I get on the front end I just get an array of all the items from the url_picker. This is what print_r on the `$atts` shows
[code]
Is it normal behavior to display all the other link_types?
I know I can use the link_type value as a key  for list_link array, is that the proper way to do it?

[2015-02-09 10:01] moldcraft commented on #224
Yes

[2015-02-09 15:58] moldcraft commented on #198
This feature was added in [v2.1.22](https://github.com/ThemeFuse/Unyson/releases/tag/v2.1.22). Please update and let us know if it works as expected.

[2015-02-09 15:59] pe6o opened #231 "Shorter way to get settings?"
I've been tinkering with Unyson. Great, great framework. Some of the ways that it works are very original. Going to implement in my next project.

I have a simple question. Looking at the Scratch theme - is there a shorter way to get an option. For example this one:
[code]
Is there a way to do it without the `function_exists` part or it's very risky?

[2015-02-09 16:01] danyj commented on #198
Very nice! Thank you.

[2015-02-09 16:01] #198 closed

[2015-02-09 16:09] danyj commented on #231
Make own set of functions that check for unyson functions. That is how I did it. It did bother me also the length of the function names but I made my own. Plus function_exists makes sure that the function exists like when plugin is disabled.

You could do something along these lines

	function theme_favicon(){
		if(!function_exists( 'fw_get_db_settings_option' )) return;

		$favicon = fw_get_db_se

[2015-02-09 16:16] danyj commented on #231
And to actually  answer , yes you can use only this

    fw_get_db_settings_option('favicon')

but problem with that is if for whatever reason the plugin is disabled , you theme user will have error on his front-end. So to avoid this issue , check for function is there.

[2015-02-09 16:17] moldcraft commented on #231
@danyj Thank you *(I have nothing else to add)*

[2015-02-09 16:17] #231 closed

[2015-02-09 16:28] pe6o commented on #231
Thanks for the super fast reply!
That gives me an idea. So I can do something like this:
[code]
And then I can remove the checks from the theme files. Using the example above:
[code]

This way I think everything should be alright?

[2015-02-09 16:33] danyj commented on #231
that looks ok to me, even better than my example. leads me to list default options in my own default array and call them like you just did. This way everything stays in tact if plugin is disabled. @moldcraft anything you might want to add to this ?

[2015-02-09 16:41] moldcraft commented on #231
Nope, everything is right

[2015-02-09 23:11] danyj opened #232 "How to extend/change megamenu markup?"
I need to surround sub-menu ul's with a div, change few class names and add some additional markup to a elements like span etc. What would be the best way to do this ?

[2015-02-09 23:21] danyj opened #233 "Possible megamenu theme_location bug"
If I use theme_location  primary like you have in scratch-theme the mega menu div container apears
http://screencast.com/t/UaiO52l7NFl
If I have own location like

	/**
	 * Register theme menus
	 */
	 register_nav_menus( array(

		'topmenu'   => __( 'Top Menu', 'fw' ),
		'sidemenu' => __( 'Secondary menu in sidebar', 'fw' ),
		)

	);

and use topmenu as theme_location  the mega menu container and

[2015-02-09 23:35] danyj commented on #233
Same thing with scratch theme
changed

https://github.com/ThemeFuse/Scratch-Theme/blob/master/scratch-parent/header.php#L60
https://github.com/ThemeFuse/Scratch-Theme/blob/master/scratch-parent/inc/menus.php#L8

to topmenu

http://screencast.com/t/H4786zojT

assigned the menu

http://screencast.com/t/ulMwLoy1Skg

Back to primary
http://screencast.com/t/nMGe6AEXJZ0u

[2015-02-09 23:45] danyj opened #234 "Scratch theme demo"
Can we have the scratch theme demo ?

[2015-02-10 01:21] azharijelek opened #235 "How to Render google fonts <link> from Typography settings without styling extension"
Hi... I'm almost done finishing my theme. I'd like to say that using this framework has save me a lot of time.

well, I see that styling extension will automatically (and smarter) to render <link> to request google webfont url.

But the problem is, I don't like to use styling extension. I just want users styling the theme via theme settings page. That's all.

Thank you in advance. :)

[2015-02-10 02:57] duongancol opened #236 "How to create new post with option from front-end?"
Hi!
I created option for custom pos type and I want to let user insert post from front-end.
If using wp_insert_post() function, it's only support some default fields.
How can I insert options of this post from front-end?
Thanks!

[2015-02-10 09:13] moldcraft commented on #236
Hi,

1. When you make `wp_insert_post()` do you have an array of option values?
2. Do you display [post options](http://static.md/bc2ef3fe4a02308619b967c6cc50f3c1.png) in frontend?

Can you give us a screenshot or screencast of how your frontend looks like (to understand better what are trying to achieve) ?

[2015-02-10 09:19] #116 closed

[2015-02-10 09:20] sergiubagrin commented on #230
@aleksandar-p

We don't have this feature in our to do list. We plan to change page builder in a different way. Working with shortcodes for end user is a bad solution.

[2015-02-10 09:23] #221 closed

[2015-02-10 09:24] #220 closed

[2015-02-10 09:24] sergiubagrin commented on #234
@danyj

Scratch Theme Demo was build with Unyson 1.0 it is not compatible with last Unyson Plugin. We will change it with new scratch theme: https://trello.com/c/BZr42P2Q/52-scratch-theme-new-design

[2015-02-10 09:26] #234 closed

[2015-02-10 09:33] duongancol commented on #236
I have a custom post type name: "Recipe" to let admin uploading or editing with some options, you can see here: http://i.imgur.com/dLWeo80.png
It'll be showed in frontend after publishing for all users.
In my site, I have user with contributor role who only upload new recipe from frontend.
So I need to create a page  in frontend to let them do that. You can see here:http://i.imgur.com/YBBJTmb.png

[2015-02-10 09:57] sergiubagrin commented on #218
A: Both options are related to frontend. Unyson will help you with options, page buider. If you want to add different types of headers it is needed to build Theme Settings in this way.

[2015-02-10 09:57] #218 closed

[2015-02-10 09:59] sergiubagrin commented on #226
Sorry but i don't see how Unyson can help you to import remote data to a WP. Can you give me more details?

[2015-02-10 10:00] moldcraft opened #237 "Review options responsive"
After framework launch some options were added and changed, and [some of them have broken responsive css](http://static.md/11006c40d43e537a37bc4c2af3d31143.png).

Need to check and fix all options styles.

[2015-02-10 10:07] sergiubagrin commented on #121
@MoBadawy

I added in our To Do list this option: https://trello.com/c/6EAny3WJ/54-content-demo-install-remote-server

[2015-02-10 10:08] DimiBaitanciuc commented on #217
This will work, yes.

[2015-02-10 10:16] moldcraft commented on #236
[This is the code that saves post options](https://github.com/ThemeFuse/Unyson/blob/4408cc30df2ed691d51868301af4459d37ac0413/framework/core/components/backend.php#L569-L582)

The key moment here is the `fw_get_options_values_from_input($options, $POST_values = array())` function.

For your case, it will be something like this:

*Note: This code is not final and not tested, just to give you an idea

[2015-02-10 10:32] #217 closed

[2015-02-10 10:33] moldcraft commented on #217
Done ![p](http://static.md/4505dfd4ae672d6e14f2afd58e3654b1.png)

![Done](http://static.md/46f0545f8f47f8d0f590ee3986947d5c.png)

[2015-02-10 12:15] danyj commented on #230
@sergiubagrin can you give us more info about the change you are suggesting ?
I would love to see actual div's being used for rows/columns instead of shortcode.

[2015-02-10 13:48] #207 closed

[2015-02-10 16:13] danyj commented on #79
Same thing here , I can use my custom walker when megamenu is disabled but even with instructions above I cant add custom walker markup. Just like @gabyferman I dont want to disable the megamenu but rather add/change the current megamenu output.

Like this http://wordpress.stackexchange.com/questions/177676/how-to-override-menu-markup/177679?noredirect=1#comment259199_177679

My custom walker is l

[2015-02-10 17:17] danyj commented on #79
You guys really need more instructions and docs.
@gabyferman

Copy class-fw-theme-menu-walker.php
to framework-customizations\extensions\megamenu\includes
rename the file to  class-fw-my-menu-walker.php
rename the class from

    class FW_Theme_Menu_Walker extends Walker_Nav_Menu

to

    class FW_My_Menu_Walker extends FW_Theme_Menu_Walker

add this in theme/inc/includes/menus.php

	add_filter('w

[2015-02-10 17:22] moldcraft commented on #79
I added this task in todo but we are busy with other things and will review the docs later, sorry.

You are free to make pull requests to [documentation repository](https://github.com/ThemeFuse/Unyson-Documentation).

[2015-02-10 20:10] MoBadawy commented on #121
good, thanks

[2015-02-10 20:10] #121 closed

[2015-02-10 20:32] pr0fess0r commented on #226
Hi
The data import is working fine.
What I need help with is being able to update posts via an external PHP file (i.e. via  cron job)
The imported vehicles are turned into posts.
These posts do not appear on the front end of the website until you edit each individual post and click the Update button.
We need a way to update all posts at once without having to update them manually.
Calling wp_updat

[2015-02-10 23:36] danyj opened #238 "How can I add extra class to first mega-menu-col UL ?"
I am trying everything but it is just to complicated to add an additional class to the
first mega-menu-col ul
http://screencast.com/t/1H3mD8lVIT

I need that class to be sub-menu group-holder, not all sub-menu , but only first one who's parent is mega-menu-col

   wp_nav_menu_args
does not work since the megamenu is overriding everything,
I cant get my head around extending the FW_Extension_Megame

[2015-02-11 02:25] duongancol commented on #236
Thanks for your suggestion!
It work well now. And it help me know more helper functions.

[2015-02-11 02:25] #236 closed

[2015-02-11 09:23] duongancol commented on #238
I also want to customize the menu walker of mega menu, but I can't find the way to do it

[2015-02-11 10:28] duongancol commented on #238
So I did copy the class-fw-theme-menu-walker.php in megamenu folder to new location, renamed it and call a new 'walker' in wp_nav_menu function, for example:

wp_nav_menu(array('walker' => new fw-custom-menu()))

I think it's the best way now.

[2015-02-11 11:45] danyj commented on #238
I did that as advised here
https://github.com/ThemeFuse/Unyson/issues/79#issuecomment-73740987

my problem is that I need additional loop here

https://github.com/ThemeFuse/Unyson-MegaMenu-Extension/blob/4a1516f86cf4de7e9be8b5b12836f42756b07a7f/includes/class-fw-theme-menu-walker.php#L154

or here
https://github.com/ThemeFuse/Unyson-MegaMenu-Extension/blob/4a1516f86cf4de7e9be8b5b12836f42756b07a7f/

[2015-02-11 12:58] pe6o commented on #231
Just wanted to clarify if anyone stumbles on this. It's better to use:

[code]
instead of:
[code]
Because in the second case you may get:
[code]

[2015-02-11 13:06] moldcraft commented on #231
@pe6o better is just to

[code]

You can have option values like `''` (empty string), `false`, `0`.

----

Here is my version of the function:

[code]

[2015-02-11 13:06] danyj commented on #231
I use this

	 /**
	 * Check if framework is loaded
	 * @return void
	 */
	function c_fw_loaded(){

		if(function_exists('fw_get_db_settings_option')){

			return true;
		}
	}

	 /**
	 * Get options value
	 * if framework is missing , load defaults
	 * @return option value
	 */
	function c_get_option($id,$default = ''){

		if (c_fw_loaded()) {

			return fw_get_db_settings_option($id);

		}else if(

[2015-02-11 13:30] azharijelek commented on #235
Nevermind, I've made my own class (simple and easy). Thank you. :).

I close this thread.

[2015-02-11 13:30] #235 closed

[2015-02-11 20:40] icypixels opened #239 "No more shortcodes in Page Builder?"
WP Version 4.1
Unyson 2.1.22

While activating the Page Builder module on a blank installation of WordPress with the default theme active, the only shortcode available in the Page Builder is the Contact Form. Everything else is gone. The sections, the columns ... well, everything :)

Screenshot: https://www.dropbox.com/s/at18s2l0kly87di/Screenshot%202015-02-11%2021.38.00.png?dl=0

[2015-02-11 21:16] danyj opened #240 "[MegaMenu] Item Options"
If at all possible it would be great to have
Widget  inside megamenu column and
mega-menu-row background image with position attributes ( consider wp_add_inline_style please )
so that we can do something like this
http://screencast.com/t/ZXEGoCEFPz4s
from inside the menu setup instead css

[2015-02-11 21:50] danyj commented on #240
I dont want to open another issue but it would be nice if you guys can show us how to add / remove options inside the mega menu. I do see that they are hardcoded but not sure if we should override the admin class.

[2015-02-12 10:26] GheorgheP commented on #239
Hi,

I tested my installation and with new installations and I cannot reproduce this problem.

You can send your ftp details on `unyson[at]email.com`, and I will take a look on the problem.

[2015-02-12 10:34] icypixels commented on #239
Hi Gheorghe,

Just tested on more configurations. It seems it has something to do with my local server environment. Sorry to bother you.

Paul

[2015-02-12 10:39] sergiubagrin commented on #226
@pr0fess0r - i understand what you mean. Sorry but i don't see how Unyson plugin (this github repository is related to Unyson plugin) can help you to import remote data to a WP.

Maybe it is a theme/ wordpress problem not Unyson plugin issue?

[2015-02-12 10:43] #239 closed

[2015-02-12 12:44] dobromir-hristov opened #242 "How to add custom Icons for Markers"
I wanted to share how to add Custom Map Pin Icons.
Note: Dont edit directly the shortcode, but override the Map shortcode in your theme.
File: class-fw-shortcode-map.php
Where load_data func is bellow the thumb:
[code]
then in _callback_get_custom_locations  under the thumb
[code]
I have added 64px because that is a pretty nice size. It can be set dynamic if added as an option above.
Then in the J

[2015-02-12 15:11] duongancol opened #243 "Icon in Megamenu"
Hi!
I have 2 main locations for menu:
[code]

I actived megamenu extension and set icon for some menu links but it only showed in Nav with location `primary` . It didn't appeare with other Nav that had different location.

I tried to change name of location from `primary` to others, It be also hidden.
For the screenshot:
![screen shot 2015-02-12 at 10 09 19 pm](https://cloud.githubusercontent.com/

[2015-02-12 15:12] danyj commented on #243
see this bud  #233

[2015-02-12 15:14] duongancol commented on #243
thank you!
Hope it'll be fixed soon!